<section id="alessandro">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 text-left">
  
    <p> Online coaching sessions by Alessandro Montalto, PhD:</p>
    
    <p><img src="img/alessandro.jpg" alt='Alessandro' width="200" align = "left"><p class="tab">>Alessandro Montalto, PhD, is a certified Life Coach who aims to assist PhD's and researchers dealing with 
    their personal and professional challenges. 
    After he got his PhD in Neuroscience, he understood that the research career path didn't suit him. 
    Thus, Alessandro decided to understand the roots of his distress and clarify his vision. 
    He successfully overcame his fears and anxieties by deepening his inner journey. 
    He had the opportunity to undergo a powerful change due to the tools that life coaching provides.</p>

    <p>He now offers one-on-one online mentoring to other PhD's and researchers to let them develop fruitful 
    and long lasting strategies to cope with several issues like:</p>

    <p>a) what should I do if my supervisor is bossy, or not supportive?</p>
    <p>b) I feel the publish-or-perish pressure and I feel overwhelmed, what can I do?</p>
    <p>c) how can I deal with the anxiety of not finding a job after my PhD?</p>
    <p>d) I want to change career path, where to start?</p>

<p>Alessandro firmly believes in the Stichting-Solaris mission and he offers 2 free mentoring sessions to 
actively contribute to the mission.</p>

Get in touch with Alessandro at <a href="https://www.alemontalto.com">https://www.alemontalto.com</a> or via email: alemontalto@protonmail.com
       </div>
    </div>
</section>
