<section id="#biobusinesssummerschool">
<div class="container">
                
<p>The twelfth edition of the BioBusiness Summer School will take place from 22-26 June 2020 in Amsterdam, 
    the Netherlands.</p>
<p>The BioBusiness Summer School consists of a unique five day interactive programme that covers a wide spectrum 
  of business aspects of Life Sciences, combined with a line-up of world-class speakers. 
  The organizers cover subjects such as intellectual property, finance, and business development, 
  all tailored to the specific characters of the sector. 
  For more information, please have a look at the event <a href="www.biobusinesssummerschool.nl">website</a> or 
  download the digital brochure.</p>
<p>The early-bird deadline is the 15th of March 2020. 
  All registrations before this date, benefit from an attractive early-bird discount. 
  After the 15th of March, the regular fee will apply.</p>        
</div>
</section>
