<section id="brightsociety">
    <div class="container">
                <div class="col-lg-8 col-lg-offset-2 text-left">
                <p class="text-faded">
                  <img src="img/BS_logo.jpg" alt="Bright Society" width="300" align = "left">
                    <a href="https://bright-society.com/">Bright Society</a> is a talent incubator for PhDs in high tech 
                    and life sciences run fully by PhDs (based in Eindhoven). Bright Society offers a prestigious 3-year talent incubation 
                    program, with only 15 spots opened each year. Within the program, PhDs are employed by Bright Society and placed on 
                    projects in companies (which can range from startups to corporations). The goal is to incubate talent so that the new 
                    class of future leaders in industry is trained. For this reason, Bright Society looks for multipotentiate candidates, 
                    who not only present strong research skills but can also demonstrate high communication skills and formulate independent 
                    opinions. Extracullicular activities in the CV are highly appreciated.</p> 

                <p>Importantly, the Bright Society management stays in contact with the PhDs throughout the program, and makes sure that the 
                    direct bosses in 
                    their workplaces are also good mentors. PhDs are also given two special cards supplied with a number of tokens: Personal 
                    Development Card and Social Responsibility Card. With these tokens, they can choose to spend a number of working hours 
                    during the year on courses and on projects for public good, respectively. Furthermore, the employment contracts are very 
                    attractive: the salary is benchmarked against leading companies in high tech, and the contract with Bright Society can 
                    be terminated any moment without any financial consequences. The vision behind Bright Society is community building, 
                    therefore, the management also cares that PhDs employed within the company are know each other, and that they stay in 
                    touch with the company after the end of incubation period.</p>

                <p>Overally, Bright Society is a young company (created in 2014) but it has already built a reputation and it is a highly 
                    recommended to PhDs thinking of a career switch.</p>
                     </div>
    </div>
</section>
