<style type="text/css">
<!--
.tab { margin-left: 40px; }
-->
</style>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our goals</h2>
                <hr class="light">
                <p class="text-faded">
                    
                    <p>The foundation aims to:</p>
                    <div class="col-lg-8 col-lg-offset-2 text-left">
                        
                    <p>1. facilitate mentor-mentee relations in academia and industry by the following actions:</p>
                    <p class="tab">(a) raising awareness about the importance of good mentoring in academia and industry, 
                    and about the fact that mentoring skills can be trained</p>
                    <p class="tab">(b) disseminating information and advice on mentorship through academic press, 
                    and through publicly available channels (blogging / social media / online platforms)</p>
                    <p class="tab">(c) organizing workshops for students and workers, aiming at teaching mentoring skills, 
                    both from mentor- and mentee- perspective</p>
                    <p class="tab">(d) designing and testing new mentoring strategies</p>
                    <p class="tab">(e) offering free consultancy on mentoring to both mentors and mentees, 
                    as well as offering free mediation to mentors and mentees, 
                    via online communication tools (e.g. Skype) and/or in person. Consultancy online and consultancy 
                    at the foundation’s headquarters will not be charged. If consultancy requires traveling, 
                    the other party will be obliged to cover travel and catering costs.</p>
                    
                    <p>2. promote open science by the following actions:</p>
                    <p class="tab">(a) facilitating carrying out research projects using open access datasets. 
                    The essence of open science is to open doors to all science enthusiasts who would like to 
                    participate in research projects. Furthermore, all participants should have equal rights, 
                    including the right to propose new projects and take lead on projects.</p>
                    <p class="tab">(b) team work using modern, collaborative tools: writing documents online in an interactive fashion, 
                    coding in a group (e.g. through Git / GitHub), openness to collaboration with researchers 
                    outside the group.</p>
                    <p class="tab">(c) promoting fairness in science, so that the authorship in the projects is based on merit only, 
                    and not on academic title or financial contribution to the project;</p> 
                    <p class="tab">(d) all projects carried out in this track are aimed at one of the following:</p>
                        <p>(i) producing new knowledge and publishing the results in a form of preprints and research 
                            publications;</p> 
                        <p>(ii) producing functional new equipment, software or product design, for internal purposes</p>
                    <p class="tab">(e) functional new equipment, software or product design created within the foundation, 
                    might be patented.</p>
                    
                    <p>3. mentor researchers while transitioning from academia to industry by:</p>
                    <p class="tab">(a) consulting researchers in order to help them in improving their resumes</p>
                    <p class="tab">(b) consulting researchers to help them in finding their strengths and key competences</p>
                    <p class="tab">(c) sharing a database of contacts in industry; helping researchers in finding the best match 
                    between their personal aims and values, and the values represented by the target employer 
                    and performing all further actions, which are related to the aforementioned goals in the broadest 
                    sense or which may facilitate achieving these goals.</p>
                    
                </p>
                
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="services.html" class="btn btn-default btn-xl">Subscribe to the newsletter</a>
            </div>
        </div>
    </div>
</section>
