<style type="text/css">
<!--
.tab { margin-left: 40px; }
-->
</style>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">      
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The policy plan</h2>
                <hr class="light">
                <p class="text-faded">
                    
                    
                    <p>The foundation aims to:</p>
                    <div class="col-lg-8 col-lg-offset-2 text-left">
                        
                    <p>1. facilitate mentor-mentee relations in academia and industry by the following actions:</p>
                    <p class="tab">(a) raising awareness about the importance of good mentoring in academia and industry, 
                    and about the fact that mentoring skills can be trained</p>
                    <p class="tab">(b) disseminating information and advice on mentorship through academic press, 
                    and through publicly available channels (blogging / social media / online platforms)</p>
                    <p class="tab">(c) organizing workshops for students and workers, aiming at teaching mentoring skills, 
                    both from mentor- and mentee- perspective</p>
                    <p class="tab">(d) designing and testing new mentoring strategies</p>
                    <p class="tab">(e) offering free consultancy on mentoring to both mentors and mentees, 
                    as well as offering free mediation to mentors and mentees, 
                    via online communication tools (e.g. Skype) and/or in person. Consultancy online and consultancy 
                    at the foundation’s headquarters will not be charged. If consultancy requires traveling, 
                    the other party will be obliged to cover travel and catering costs.</p>
                    
                    <p>2. promote open science by the following actions:</p>
                    <p class="tab">(a) facilitating carrying out research projects using open access datasets. 
                    The essence of open science is to open doors to all science enthusiasts who would like to 
                    participate in research projects. Furthermore, all participants should have equal rights, 
                    including the right to propose new projects and take lead on projects.</p>
                    <p class="tab">(b) team work using modern, collaborative tools: writing documents online in an interactive fashion, 
                    coding in a group (e.g. through Git / GitHub), openness to collaboration with researchers 
                    outside the group.</p>
                    <p class="tab">(c) promoting fairness in science, so that the authorship in the projects is based on merit only, 
                    and not on academic title or financial contribution to the project;</p> 
                    <p class="tab">(d) all projects carried out in this track are aimed at one of the following:</p>
                        <p>(i) producing new knowledge and publishing the results in a form of preprints and research 
                            publications;</p> 
                        <p>(ii) producing functional new equipment, software or product design, for internal purposes</p>
                    <p class="tab">(e) functional new equipment, software or product design created within the foundation, 
                    might be patented.</p>
                    
                    <p>3. mentor researchers while transitioning from academia to industry by:</p>
                    <p class="tab">(a) consulting researchers in order to help them in improving their resumes</p>
                    <p class="tab">(b) consulting researchers to help them in finding their strengths and key competences</p>
                    <p class="tab">(c) sharing a database of contacts in industry; helping researchers in finding the best match 
                    between their personal aims and values, and the values represented by the target employer 
                    and performing all further actions, which are related to the aforementioned goals in the broadest 
                    sense or which may facilitate achieving these goals.</p>
                    <p></p> 
                    <p></p>
                    <p></p>
                        
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Please contact us when:</h2>
                    <hr class="light">
                    <div class="col-lg-8 col-lg-offset-2 text-left">
                    <p>(a) you have a personal problem with your PhD / career. 
                        We can offer free advice and consultancy to early career researchers. 
                        We are a solution-oriented foundation. 
                        If we cannot help directly, we reach out to our Advisory Board and to our trusted network of external advisors. 
                        </p>
                    <p>(b) you would like to host a career development workshop at your institution. We can delegate one of 
                        the researchers in our network to deliver such a workshop.</p>
                    <p>(c) you have some resource useful for early career researchers which you would like to share. We will
                        gladly put this resource on our websites.</p>   
                    <p></p> 
                    <p></p>
                    <p></p>    
                    
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">The role of Directors</h2>
                    <hr class="light">
                    <p class="text-faded">
                    <div class="col-lg-8 col-lg-offset-2 text-left">
                    <p>Directors of Stichting Solaris Onderzoek en Ontwikkeling are appointed in order to execute the statutory
                        purposes of the foundation. Their duties are as follows:</p>
                    <p class="tab">(a) summon the meetings (Chairperson's duty), decide on the directions the foundation is taking, and on the strategic partnerships</p>
                    <p class="tab">(b) keep record of all the meetings and associated stipulations (Secretary's duty)</p>    
                    <p class="tab">(c) collect resources for early career researchers and post them on the Stichting Solaris websites, 
                        maintain the website</p>
                    <p class="tab">(d) communicate with the Advisory Board, delegate tasks to the Advisory Baord</p>
                    <p class="tab">(e) propagate information about the foundation through the social media</p>
                    <p class="tab">(f) keep the books (Treasurer's duty)</p>    
                    <p></p> 
                    <p></p>
                    <p></p>
                    
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Remuneration policy for the Board of Directors</h2>
                    <hr class="light">
                    <p class="text-faded">
                    <div class="col-lg-8 col-lg-offset-2 text-left">
                    <b>The Board of Directors is not financially rewarded for their work in the Board on behalf of Stichting Solaris. 
                        The Directors can only be rewarded financially in a form of a Vacancy payment: if they accept to undertake 
                        an additional work as a presenter on behalf on the Foundation (which is not a part of their daily duties specified above). 
                        For instance, this situation can happen if the Foundation is invited by a public institution to delegate a speaker 
                        who will represent the Foundation by preparing materials and giving a public workshop related to the statutory purposes of the 
                        Foundation. In that case, the foundation will invoice the inviting institution, and the presenting Director will be 
                        transferred the honorarium. This income should then undergo income personal tax regulations as specified by the Belastingdienst.</p>

                        
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Remuneration policy for Staff</h2>
                    <hr class="light">
                    <p class="text-faded">
                    <div class="col-lg-8 col-lg-offset-2 text-left">
                    <p>At the moment, Stichting Solaris has no staff. In case an employee is recruited, they will be offered
                        an employment contract (either 1.0 FTE or 0.8 FTE) with a pensionary fund. 
                        No Collective Labor Agreement applies in this case. 
                        </p>
                        

                        
                        
                    
                </p>
        </div>
    </div>
</section>
