<section id="claudio">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 text-left">
  
    <p> Online/face-to-face coaching sessions by Claudio Corrao:</p>
    
    <p><img src="img/claudio.jpg" alt='Claudio' width="200" align = "left"><p class="tab">
    When referring to fundamental human needs, people feel the desire to give meaning to their lives. 
    That includes defining a purpose through which they can grow and can identify themselves with while 
    creating a positive impact on society. Unfortunately, very often, the reality is that way too many people 
    find themselves trapped in the burden of the system, stuck in a life that does not belong to them or 
    lost as a consequence of unseen changes on their paths.</p>
 
    <p>Claudio Corrao is a leadership coach on a mission to empower people to live a purpose-driven life.</p>
 
<p>Through his coaching organisation, he focuses on:</p>
<p class="tab">• Defining your vision, understand what really motivates you and which values and beliefs you stand for.</p>
<p class="tab">• Understanding what impact you want to create on society.</p>
<p class="tab">• Exploring unseen opportunities and possibilities in the professional sector.</p>
<p class="tab">• Helping you set the changes that need to occur to become who you truly desire to be.</p>
<p class="tab">• Exploring which daily actions and habits support your goals.</p>

<p>Claudio firmly believes in the Stichting-Solaris mission and he offers the first 2 hours of coaching sessions for free.</p>

<p>Get in touch with Claudio via email: claudio@the-upgrade.me or via mobile at +31 6 55 922 763.</p>
       </div>
    </div>
</section>
