<section id="event4">
    <div class="container">
      <h4 class="section-heading">Workshop "Looking for Jobs Outside of Academia" at the
                    <a href="https://www.humanbrainmapping.org/i4a/pages/index.cfm?pageid=3882&pageid=3900">
                        Organization for Human Brain Mapping Annual Meeting</a>, Rome June 9th-13th 2019</h4>
                <p><b>Speaker:</b> Natalia Bielczyk</p>
                <p><b>Agenda:</b></p> 
                <p>Thursday 13th June 2019, 12pm-1pm</p>
                <p>Student and Postdoc SIG Space (Studio Room 3), Auditorium Parco Della Musica, Rome, Italy</p>
                <p><b>Event description:</b></p>
                <p>Even though the majority of PhD graduates eventually leaves academia, there is little amount of services dedicated 
                  to assisting early career researchers in defining their core competencies, searching for employers, and getting 
                  their dream jobs in industry. In this workshop, we will discuss how to best position yourself on the market on the 
                  basis of all your past experience, including both hard and soft skills. Furthermore, we will discuss the demand for 
                  PhDs in different branches of industry. We will also discuss the basics and avoiding mistakes - in job applications, 
                  cover letters, phone and in-person interviews.</p> 
      </div>
  </section>

