
<h4 class="section-heading">Workshop "Self-management for early career researchers" 
                    at <a href="http://www.medgencentre.com">
                        Medical Genetics Center (MGC) workshop</a>, Maastricht June 4th-7th 2019</h4>
                        
                <p>Agenda:</p> 
                <p>Friday 7th June 2019, 9:30am-11:30am</p>
                <p>Maastricht University, Maastricht, the Netherlands</p>
                <p>Event description:</p>
                <p>There is a growing disparity between the number of new PhD graduates and the available faculty positions.
                Effectively, most of the PhD graduates needs to find jobs outside academia. Yet, there is little amount of
                services dedicated to assisting early career researchers in discovering their core competencies, in searching
                for employers and landing their dream jobs in industry. Ideally, one should anticipate the potential future
                market sectors after completing the PhD, and focus on developing transferrable skills during the PhD on that
                basis. This however, remains a rare practice in the graduate schools.
                Therefore, in this workshop, we will assume that you have no prior experience with job market in industry.
                We will discuss the following:</p>
                <p class="tab"> (a) The demand for PhDs in different branches of industry</p>
                <p class="tab"> (b) Paycheck or entrepreneurship? is a traineeship at a company a good start after a PhD?</p>
                <p class="tab"> (c) Defining your key competences, including both hard- and soft skills</p>
                <p class="tab"> (d) Searching for employers who are likely to search for these competences</p>
                <p class="tab"> (e) Searching for employers who share your personal values</p>
                <p class="tab"> (f) The role of networking in searching for jobs</p>
                <p class="tab"> (g) Restructuring your CV and writing a competitive motivational letter</p>
                <p class="tab"> (h) Preparing for job interviews</p>
                <p>The workshop will be interactive: we will debunk certain myths related to the job market with use of polls and
                quizzes. Sharing personal experience by participants will be highly encouraged. The goal of the workshop is
                to give the participants the information and confidence so they can further search for relevant information on
                their own, and take first steps towards finding their dream job in industry.</p> 
