<section id="event0">
    <div class="container">
      <h4 class="section-heading">Talk <a href="#event0">"Sharing is caring - how mentoring and open science 
                    come together to equalize chances for career development in academia"</a> at 
                    <a href="https://openmrbenelux.github.io/">OpenMR event</a>, Leiden, January 16th 2019</h4>  
                <p>Agenda:</p> 
                <p>Wednesday 16th January 2019, 17:00-17:45</p>
                <p>Collegezaal 3, Gebouw/Building 1, Leiden University Medical Center (LUMC), Leiden</p>
                <p>Event description:</p>
                <p>In the spirit of Open Science, we tend to increase an amount of shared resources, such as codes and datasets, 
                    nowadays. However, what else can and should we share in academia? In this talk, we’ll discuss mentoring 
                    as one example of a human asset which also can and should be distributed. It is no longer the case that 
                    mentoring can only be received from your direct supervisor; there are multiple other options, and you 
                    can actively search out for mentoring advice from researchers at every career stage and independent 
                    from geographical location. Within the Organization for Human Brain Mapping Student and Postdoc Special 
                    Interest Group, we are interested in developing new tools assisting early career researchers in 
                    accelerating their careers. One of our main initiatives is the International Online Mentoring Programme, 
                    which, to date, attracted a few hundreds of OHBM members. After two finished cycles of the programme, 
                    we are proud to say we feature multiple success stories: mentees from all around the world getting 
                    inspired, finding new jobs and personal grants, and coming back to the Programme as mentors. 
                    Additionally, this talk aims to ignite discussion about mentorship as a competence which should be 
                    featured as part of a standard research CV and acknowledged on equal terms with other research-related 
                    competences i.e. publication record, teaching experience or received grants and awards.</p>  

      </div>
</section>
