<section id="event1">
    <div class="container">
    <h4 class="section-heading">Talk "Open mentoring" at <a href="https://brainhackwarsaw.github.io/">
                Brainhack Warsaw</a>, Warsaw, March 1st-3rd 2019</h4> 
                <p><b>Speaker:</b> Natalia Bielczyk</p>
                <p><b>Agenda:</b></p> 
                <p>Saturday 2nd March 2019, 15:00-15:20</p>
                <p>Auditorium 5, Faculty of Physics at the University of Warsaw, Ludwika Pasteura 5, 02-093, Warsaw, Poland</p>
                <p><b>Event description:</b></p>
                <p>One of the strongest movements in academia nowadays, is the Open Science movement. Its main postulates 
                    are: sharing access to high quality datasets with the general public and setting new standards for 
                    research reproducibility, e.g. by sharing codes and pipelines through open-access services such as GitHub. 
                    What else can and should we share in academia? Mentoring is one example of an asset which can also be 
                    shared between researchers all around the world. Today, it is no longer the case that mentoring experience 
                    can only be received from the direct supervisor; one can and should search out for advice from multiple 
                    researchers at every career stage, independently from geographical location - especially when there is 
                    little opportunity to be mentored in the local research environment.</p>
                <p>Within the Organization for Human Brain Mapping Student and Postdoc Special Interest Group, 
                    we are interested in assisting early career researchers in accelerating their careers. One of our main 
                    initiatives is the International Online Mentoring Programme. Within the Programme, every member of the 
                    OHBM community worldwide can become either a mentor, a mentee or both. In this blitz talk, I will 
                    review the lessons we learned after over two years of running the programme, and recommendations we 
                    can give to young generation of researchers who are just entering their PhD.</p>
                <p></p>
                    
      </div>
  </section>
