<section id="event2">
    <div class="container">
      <h4 class="section-heading">[1] Self-management for early career researchers workshop at 
                    <a href="https://ict-research.nl/ict-open/">ICT.Open</a>, Hilversum March 19th-20th 2019</h4>  
                <p>Agenda: Tuesday 19th March, 2019, 16:20-17:40</p>
                <p>Event description:</p>
                <p>Early career researchers in different disciplines face similar challenges, related to fierce competition 
                    and constantly changing landscape of their research fields. Very often, factors independent from the 
                    early career researcher (such as, in example, constraints related to low quality datasets you need to 
                    work with, or a non-cooperative supervisory team) can cause leverage in pressure and stress levels, 
                    and give you an impression that your career development is blocked.</p>
                    <p>However, regardless of the circumstances, there is a number of every day self-management actions 
                        you can take in order to increase your overall work satisfaction, and positively influence career 
                        chances in the long run. In this workshop, we will discuss the following aspects:</p>
                    <p class="tab">(a) Goal setting and making one’s own opportunities</p>
                    <p class="tab">(b) Managing your time optimally</p>
                    <p class="tab">(c) Tips on taking care of yourself and creating a positive spin around yourself
                    <p class="tab">(d) Recognising and addressing bottlenecks in your projects
                    <p class="tab">(e) Building a craft
                    <p class="tab">(f) Networking and building long-lasting bonds
                    <p class="tab">(g) Finding the right mentors and mentees
                    <p class="tab">(h) Staying vigilant to opportunities outside academia and building an expertise competitive on the open job market
                <p>The workshop will be interactive. We will first go through the material, and then discuss how to cherry 
                    pick the advice and tailor to your own needs. There are multiple ways to become a happy researcher. 
                    Therefore, the goal of the workshop is to help you discover your own, personal path towards happy 
                    research life, and give you tools to develop your own personal style of doing science that will give 
                    you the best personal experience.</p>
                <p></p>

    </div>
 </section>
