<style type="text/css">
<!--
.tab { margin-left: 40px; }
-->
</style>
<section class="bg-primary" id="financial">
    <div class="container">
        <div class="row">      
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Financial statement</h2>
                <hr class="light">
                <p class="text-faded">
                    
                    <div class="col-lg-8 col-lg-offset-2 text-left"> 
                    <p>Financial statement for the fiscal year of 2018 (from the day of creation of the Foundation, 
                        7th November 2018 till 31st December 2018):</p>
                       
                    <p>Donations and other income: 0.00 EUR</p>
                    <p>Expenditures: 0.00 EUR</p>    
                            
                    
                </p>
        </div>
    </div>
</section>
