<style type="text/css">
<!--
.tab { margin-left: 40px; }
-->
</style>
<section class="bg-primary" id="financial">
    <div class="container">
        <div class="row">      
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Financial statement</h2>
                <hr class="light">
                <p class="text-faded">
                    
                    <div class="col-lg-8 col-lg-offset-2 text-left"> 
                    <p>Financial statement for the fiscal year of 2018 (from the day of creation of the Foundation, 
                        7th November 2018 until 31st December 2018):</p>
                       
                    <p class="tab">Donations: 0.00 EUR</p>
                    <p class="tab">Other income: 0.00 EUR</p>
                    <p class="tab">Expenses: 20.00 EUR (bank account fees)</p>    
                    <p class="tab">Loans: 710.00 EUR - a personal loan from Natalia Bieczyk, with 0% interest rate, 
                        for setting the foundation: the notary act (430.00 EUR) + sworn translator (230.00 EUR) +
                        registration fee at the Chamber of Commerce (50.00 EUR)</p> 
                        
                    <p></p> 
                    <p></p>
                    <p></p>
                        
                    <p>Financial statement for the fiscal year of 2019:</p> 
                    <p class="tab">Donations: 120.00 EUR</p>
                    <p class="tab">Other income: 10,000 USD (Mozilla Science Minigrant 2019)</p>
                    <p class="tab">Expenses:</p>
                    <p class="tab">8,713.00 USD (organizing Avengers for Better Science event, Leiden October 28th - November 1st, 2019)</p>     
                    <p class="tab">710.00 EUR (0% interest loan paid back to Natalia Bielczyk)</p> 
                    <p class="tab">500.00 USD (payment back to Mozilla Foundation)</p> 
                    <p class="tab">120.00 EUR (bank account fees)</p>
                
                    <p></p> 
                    <p></p>
                    <p></p>                
                
                <p>Financial forecast for 2020:</p> 
                    <p class="tab">Donation: very hard to predict, as we are just starting</p>
                    <p class="tab">Other income: ~1,000-2,000 EUR (public workshops)</p>
                    <p class="tab">Expenses: 120.00 EUR (bank account fees) + ~1,000-2,000 EUR (paying honorariums for public workshops)</p>        
                </p>
        </div>
    </div>
</section>
