<style type="text/css">
<!--
.tab { margin-left: 40px; }
-->
</style>
<section class="bg-primary" id="financial">
    <div class="container">
        <div class="row">      
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Financial statement</h2>
                <hr class="light">
                <p class="text-faded">
                    
                    <div class="col-lg-8 col-lg-offset-2 text-left"> 

                        
                    <p><h3>Financial statement for the fiscal year of 2024:</h3></p>
                    <p></p>
                    <p><b>Corporate and Public Sponsorships: </b>0.00 EUR</p>
                    <p><b>Grants:</b> 0.00 EUR</p>
                    <p><b>Private Donations:</b> 0.00 EUR</p>
                    <p><b>Other income/funds:</b> 0.00 EUR</p>
                    <p><b>TOTAL:</b> 0.00 EUR
                    <br>   
                    <p><b>Expenses: </b>0.00 EUR</p>
                    <p></p> 
                    <p></p>
                    <p></p>


                    <p><h3>Financial statement for the fiscal year of 2023:</h3></p>
                    <p></p>
                    <p><b>Corporate and Public Sponsorships: </b>0.00 EUR</p>
                    <p><b>Grants:</b> 0.00 EUR</p>
                    <p><b>Private Donations:</b> 0.00 EUR</p>
                    <p><b>Other income/funds:</b> 0.00 EUR</p>
                    <p><b>TOTAL:</b> 0.00 EUR
                    <br>   
                    <p><b>Expenses: </b>0.00 EUR</p>
                    <p></p> 
                    <p></p>
                    <p></p>

                        
                    <p><h3>Financial statement for the fiscal year of 2022:</h3></p>
                    <p></p>
                    <p><b>Corporate and Public Sponsorships: </b>0.00 EUR</p>
                    <p><b>Grants:</b> 0.00 EUR</p>
                    <p><b>Private Donations:</b> 0.00 EUR</p>
                    <p><b>Other income/funds:</b> 0.00 EUR</p>
                    <p><b>TOTAL:</b> 0.00 EUR
                    <br>   
                    <p><b>Expenses: </b>0.00 EUR</p>
                    <p></p> 
                    <p></p>
                    <p></p>   

                        
                    <p><h3>Financial statement for the fiscal year of 2021:</h3></p>
                    <p></p>
                    <p><b>Corporate and Public Sponsorships:</b></p>
                    <p class="tab">(a) 1,000.00 EUR (Merck Financial Services GmbH)</p>
                    <p class="tab">(b) 500.00 EUR (IEEE EMB Chapter)</p>
                    <p><b>Grants:</b> 0.00 EUR</p>
                    <p><b>Private Donations:</b> 180.00 EUR</p>
                    <p><b>Other income/funds:</b> 147.00 EUR (Belastingdienst, returned BTW from last year)</p>
                    <p><b>TOTAL:</b> 1,827.00 EUR
                    <br>   
                    <p><b>Expenses:</b></p>
                    <p class="tab">(a) 120.00 EUR (operational costs: monthly back account payments)</p> 
                    <p class="tab">(a) 1,400.00 EUR (Organization costs for the Open MR Einshoven event AD 2021)</p> 
                    <p><b>TOTAL:</b> 1,520.00 EUR
                    <p></p> 
                    <p></p>
                    <p></p>                    
                        
                    <p><h3>Financial statement for the fiscal year of 2020:</h3></p>
                    <p></p>
                    <p><b>Corporate and Public Sponsorships:</b></p>
                    <p class="tab">(a) 700.00 EUR (Propharma Group Netherlands)</p>
                    <p class="tab">(b) 250.00 EUR (ISMRM Benelux)</p>
                    <p class="tab">(c) 500.00 EUR (DANS)</p>
                    <p class="tab">(d) 500.00 EUR (Human Brain Project)</p>
                    <p class="tab">(e) 2000.00 EUR (Eindhoven University of Technology)</p>
                    <p class="tab">(f) 1,000.00 EUR (Universiteit Gent)</p>
                    <p><b>Grants:</b> 0.00 EUR</p>
                    <p><b>Private Donations:</b> 0.00 EUR</p>
                    <p><b>Other income:</b> 2,050.00 EUR (OpenMRB2020 event tickets)</p>
                    <p><b>TOTAL:</b> 7,000.00 EUR
                    <br>   
                    <p><b>Expenses:</b></p>
                    <p class="tab">(a) 700.00 EUR (Natalia Vtyurina, PhD, professional consultancy)</p> 
                    <p class="tab">(b) 1545.42 EUR (Accommodation, travel and administrative expenses) </p>
                    <p class="tab">(c) 1371.06 EUR (Speakers) </p>
                    <p class="tab">(d) 3105.45 EUR (Catering) </p>
                    <p><b>TOTAL:</b> 6,721.93 EUR
                    <p></p> 
                    <p></p>
                    <p></p>                
                
                
                    <hr class="light">    
                    <p><h3>Financial statement for the fiscal year of 2019:</h3></p> 
                    <p><b>Corporate and Public Sponsorships:</b> 0.00 EUR</p>
                    <p><b>Grants:</b> 10,000.00 USD (Mozilla Science Minigrant 2019)</p>
                    <p><b>Private Donations:</b> 120.00 EUR (Natalia Bielczyk)</p>
                    <p><b>Other income:</b> 0.00 EUR</p>
                    <p><b>TOTAL:</b> ~10,000.00 EUR
                    <br>
                    <p><b>Expenses:</b></p>
                    <p class="tab">(a) 8,713.00 USD (organizing Avengers for Better Science event, Leiden October 28th - November 1st, 2019)</p>     
                    <p class="tab">(b) 710.00 EUR (0% interest loan paid back to Natalia Bielczyk)</p> 
                    <p class="tab">(c) 500.00 USD (payment back to Mozilla Foundation)</p> 
                    <p class="tab">(d) 120.00 EUR (bank account fees)</p>
                    <p><b>TOTAL:</b> ~10,000.00 EUR
                    <p></p> 
                    <p></p>
                    <p></p>                
                
            
                    <hr class="light">
                    <p><h3>Financial statement for the fiscal year of 2018:</h3></p>   
                    <p><b>Corporate and Public Sponsorships:</b> 0.00 EUR</p>
                    <p><b>Grants:</b> 0.00 EUR</p>
                    <p><b>Private Donations:</b> 20.00 EUR (Natalia Bielczyk)</p>
                    <p><b>Other income:</b> 0.00 EUR</p>
                    <p><b>TOTAL:</b> 20.00 EUR</p>
                    <br>
                    <p><b>Expenses:</b> 20.00 EUR (bank account fees)</p>    
                    <p><b>Loans:</b> 710.00 EUR - a personal loan from Natalia Bielczyk, with 0% interest rate, 
                        for setting the foundation: the notary act (430.00 EUR) + sworn translator (230.00 EUR) +
                        registration fee at the Chamber of Commerce (50.00 EUR)</p> 
                    <p><b>TOTAL:</b> 730.00 EUR</p>
                    <hr class="light">     
                    <p></p> 
                    <p></p>
                    <p></p>

                </p>
        </div>
    </div>
</section>
