<style type="text/css">
<!--
.tab { margin-left: 40px; }
-->
</style>
<section class="bg-primary" id="gdpr">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Stichting Solaris Onderzoek en Ontwikkeling Privacy Policy</h2>
                <h3 class="section-heading">aligned with the General Data Protection Regulation (EU) 2016/679 (GDPR)</h3>
                <hr class="light">
                <p class="text-faded">

 <p></p>  
 <p></p>  
 <p></p>  
 <p></p>  
                
 <!-- Introduction -->                   
                    <h3 class="section-heading">Introduction</h3>    
                        
                    <p align="justify">This Privacy Policy sets out the ways in which Stichting Solaris Onderzoek en Ontwikkeling 
                        collects and uses your personal data (personal information). 
                        It also explains what rights you have to access or change your personal data.</p>
                    
                    <p align="justify">Any initiatives by Stichting Solaris Onderzoek en Ontwikkeling are not intended for children. 
                        We do not knowingly collect or maintain the personal information of children under the age of 18. 
                        If you are under the age of 18, 
                        please do not access Stichting Solaris Onderzoek en Ontwikkeling at any time or in any manner.</p>     
                    <p></p>
  
  <!-- About us -->
                    <h3 class="section-heading">About us</h3>
                    <p align="justify">We are a non-profit organisation located in Nijmegen, the Netherlands. You may find more information 
                    about the goals of the foundation in the deed of formation.</p>
                    <p></p>
                
  <!-- When do we collect information about you? -->                      
                    <h3 class="section-heading">When do we collect information about you?</h3>
                    <p align="justify">We will collect any information that you provide to us only when you</p>    
                    <p align="justify" class="tab">(a) fill in application forms / questionnaires released by Stichting Solaris Onderzoek 
                        en Ontwikkeling, or when you subscribe to an event hosted by us</p>
                    <p align="justify" class="tab">(b) contact us with the intention of becoming an active member of Stichting Solaris 
                        Onderzoek en Ontwikkeling</p>
                    <p align="justify">We do not collect any information about you on the basis of personal correspondence through emails, 
                        or your activity on social media related to the events organized by Stichting Solaris Onderzoek en 
                        Ontwikkeling.</p>
                    <p></p>

  <!-- How do we store your data -->  
                    <h3 class="section-heading">How do we store your data</h3>
                    <p align="justify">We keep your data in offline documents (as Excel sheets and/or MS Word documents). In both cases, 
                        the data is physically located in Nijmegen, the Netherlands, and access 
                        rights are restricted to the the current active members of Stichting Solaris Onderzoek en Ontwikkeling.</p>
                    <p></p>
 
  <!-- What type of information do we collect? -->
                    <h3 class="section-heading">What type of information do we collect?</h3>  
                    <p align="justify">The information we collect about you:</p>
                    <p align="justify" class="tab">(a) identity and contact data: name, email address, affiliation, academic title, 
                        years of experience in research and/or industry</p>
                    <p align="justify" class="tab">(b) survey data</p>
                    <p align="justify" class="tab">(c) personal details relevant for events, such as dietary requirements</p>

  <!-- Sensitive personal data -->
                    <h3 class="section-heading">Sensitive personal data</h3> 
                    <p align="justify">“Special categories” of particularly sensitive personal information (“Sensitive Personal Data”) 
                        require higher levels of protection. Such Sensitive Personal Data includes details about your 
                        race or ethnicity, religious or philosophical beliefs, sex life, sexual orientation, political 
                        opinions, trade union membership, information about your health and genetic and biometric data. 
                        In addition, details about criminal convictions and offences are also subject to higher levels 
                        of protection.</p>
                     <p align="justify">At the moment, we do not collect any Sensitive Personal Data.</p>
                     <p></p>  
 
   <!-- Information we receive from third parties -->               
                     <h3 class="section-heading">Information we receive from third parties</h3>   
                     <p align="justify">We do not reach out to any third parties with respect to your personal data. If your application 
                         form is incomplete, we contact you personally in order to fill in the gaps. </p>   
                     <p></p>  
   
   <!-- How we use information about you -->             
                     <h3 class="section-heading">How we use information about you</h3>   
                     <p align="justify" class="tab">(a) If you fill in open questions in the surveys / questionnairies in order to give 
                         us personal feedback, we might further contact you in order to get more information. This information 
                         may then be used with a purpose of improving the quality of the Stichting Solaris Onderzoek en 
                         Ontwikkeling initiatives, or to invite you to events organized by Stichting Solaris Onderzoek en Ontwikkeling</p>   
                     <p align="justify" class="tab">(b) The summary, anonymized statistics can also potentially be used to create open-access 
                         materials, to be shared at our websites. This is a non-commercial activity, for the informative 
                         purposes only, and aims at improving visibility of the Stichting Solaris Onderzoek en Ontwikkeling activities</p>
                     <p align="justify" class="tab">(c) If you deliver a specific personal information such as dietary requirements while assigning 
                         for events, this can be used to better serve you at our events</p> 
                     <p></p>  

<!-- Who we might share your information with -->                
                     <h3 class="section-heading">Who we might share your information with</h3>     
                     <p align="justify">We do not share your information with any third parties. In case we would like to this in the future,
                         we will ask for personal consent.</p> 
                     <p></p>  

<!-- Cookies -->   
                     <h3 class="section-heading">Cookies</h3>     
                     <p align="justify">We do not collect Cookies.</p> 
                     <p></p>  

<!-- How do we look after your information and how long we keep it for --> 
                     <h3 class="section-heading">How do we look after your information and how long we keep it for</h3>     
                     <p align="justify">We will retain your information for as long as is necessary to provide you with the services that 
                         you have requested from us. For instance, if you assign for a particular event, your information 
                         will be erased after the event - unless you clearly state that you wish to be informed about 
                         the next edition of the event during the registration process. If you request to become a member 
                         of our startup database, we will hold your contact information permanently, until you request to 
                         remove the data from the database, or until the startup dissolves. In case of Stichting Solaris 
                         Onderzoek en Ontwikkeling’s dissolution, all the contact data will be erased.</p>    
                     <p></p>  
 
<!-- Your rights to the information we hold about you --> 
                     <h3 class="section-heading">Your rights to the information we hold about you</h3>     
                     <p align="justify">You have rights in respect of the information that we hold about you, including:</p>   
                     <p align="justify" class="tab">(a) the right to be informed of the ways in which we use your information, 
                         as we seek to do in this Privacy Policy;</p>
                     <p align="justify" class="tab">(b) the right to ask us not to process your personal data for usage to 
                         produce summary statistics;</p> 
                     <p align="justify" class="tab">(c) the right to request access to the information that we hold about you at any moment;</p>
                     <p align="justify" class="tab">(d) the right to request that we correct or rectify any information that we hold about 
                         you which is out of date or incorrect;</p>
                     <p align="justify" class="tab">(e) in certain circumstances, the right to ask us to stop processing information about you</p>
                     <p></p>  
 
<!-- Changes to this privacy policy --> 
                     <h3 class="section-heading">Changes to this privacy policy</h3>
                     <p align="justify">We may make changes to this Privacy Policy from time to time. We will post any changes to our site, 
                         or notify you of any material changes by email. Any changes will come into effect the next time you 
                         engage with us after the changes have been notified.</p>
                     <p align="justify">It is important that the personal data we hold about you is accurate and current. Please keep us 
                         informed if your personal data changes during your relationship with us by updating your profile 
                         account information or contacting us via the contact details at the top of this Privacy Notice.</p>
                     </p>
        </div>
    </div>
</section>
