<style type="text/css">
<!--
.tab { margin-left: 40px; }
-->
</style>
<section class="bg-primary" id="gdpr">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Stichting Solaris Onderzoek en Ontwikkeling Privacy Policy</h2>
                <h3 class="section-heading">aligned with the General Data Protection Regulation (EU) 2016/679 (GDPR)</h3>
                <hr class="light">
                <p class="text-faded">
                    <div class="col-lg-8 col-lg-offset-2 text-left">
                    
                    <h4 class="section-heading">Introduction</h4>    
                        
                    <p>This Privacy Policy sets out the ways in which Stichting Solaris Onderzoek en Ontwikkeling 
                    collects and uses your personal data (personal information). 
                    It also explains what rights you have to access or change your personal data.</p>
                    
                    <p>Any initiatives by Stichting Solaris Onderzoek en Ontwikkeling are not intended for children. 
                    We do not knowingly collect or maintain the personal information of children under the age of 18. 
                    If you are under the age of 18, 
                    please do not access Stichting Solaris Onderzoek en Ontwikkeling at any time or in any manner.</p>     
                    
                    <h4 class="section-heading">About us</h4>
                    We are a non-profit organisation located in Nijmegen, the Netherlands. You may find more information 
                    about the goals of the foundation in the deed of formation.
                        
                    <h4 class="section-heading">When do we collect information about you?</h4>
                    <p>We will collect any information that you provide to us only when you</p>    
                    <p class="tab">(a) fill in application forms / questionnaires released by Stichting Solaris Onderzoek 
                    en Ontwikkeling, or when you subscribe to an event hosted by us</p>
                    <p class="tab">(b) contact us with the intention of becoming an active member of Stichting Solaris 
                    Onderzoek en Ontwikkeling</p>
                    <p>We do not collect any information about you on the basis of personal correspondence through emails, 
                    or your activity on social media related to the events organized by Stichting Solaris Onderzoek en 
                    Ontwikkeling.</p>
                    
                    
                </p>
        </div>
    </div>
</section>
