<section id="goodlifeblog">
    <div class="container">
                <div class="col-lg-8 col-lg-offset-2 text-left">
  
  The <a href="https://marishamanahova.com/">Good Life</a> blog: a blog dedicated to self-development in 
                    academia by Marisha Manahova, PhD candidate at the Donders Institute for Brain, Cognition and Behavior, Nijmegen, the Netherlands:</p>
                <img src="img/marisha.jpg" alt='Marisha' width="200" align = "left"><p class="tab">(a) Organization & productivity
                <p class="tab">(b) Goal setting
                <p class="tab">(c) Time management
                <p class="tab">(d) Mindset                  
                    
                    
                </div>
    </div>
</section>
