<section id="gsf">
    <div class="container">
                <div class="col-lg-8 col-lg-offset-2 text-left">
  
 <p class="tab"><a href="https://www.gallupstrengthscenter.com/home/en-us/strengthsfinder">Gallup StrengthsFinder</a>:
                    a commercial program to explore five main personal strengths of the user. It does not necessarily focus on strengths 
                    that you are using in your daily life, but also gives an insight on which strengths you can put forward to improve so 
                    that they become more prominent for your daily life. It also gives an explanation about the setbacks of certain strengths. 
                    This could be used to better understand oneself, be more self-aware and avoid certain behavior patterns.</p>

  
                </div>
    </div>
</section>
