<section id="gsf">
    <div class="container">
                <div class="col-lg-8 col-lg-offset-2 text-left">
  
  <p> Workshops by Dorina Baltag, PhD, dedicated to female PhD researchers shifting to industry by Dorina Baltag, PhD 
                    (based in Maastricht):</p>
                <p class="tab">(a) Research, analytical & problem-solving thinking</p>
                <p class="tab">(b) Leadership & team-work capabilities</p>
                <p class="tab">(c) Managerial skills</p>
                <p class="tab">(d) Mentorship & coaching competencies</p>
                <p class="tab">(e) Presentation delivery</p>
                <p></p>
  
                </div>
    </div>
</section>
