<style type="text/css">
<!--
.tab { margin-left: 40px; }
-->
</style>

<section id="icoinic">
    <div class="container">
                <div class="col-lg-8 col-lg-offset-2 text-left">
  
                <p align="justify">Are you looking for a challenging job in a vibrant environment on a new market? 
                <a href="https://icoinic.org/">Iconic</a> is an algorithmic cryptocurrency investment fund located in the headquarters 
                of the Dutch Stock Exchange in Amsterdam. 
                Iconic is currently a leading fund in the Netherlands in terms of returns, 
                and it is now expanding its team. 
                If you are strong at:</p>

                <p align="justify" class="tab">(a) Python</p>
                <p align="justify" class="tab">(b) signal analysis</p>
                <p align="justify" class="tab">(c) data science</p>

                <p>and you are interested in:</p>

                <p align="justify" class="tab">(a) working at the heart of the financial markets in the Netherlands</p>
                <p align="justify" class="tab">(b) becoming a member of a team of young, highly motivated people</p>
                <p align="justify" class="tab">(c) competitive salary</p>
                <p align="justify" class="tab">(d) getting a professional training in trading & investing</p>

                <p>please contact <a href="https://www.linkedin.com/in/imremolnar/">Imre Molnar</a>. 
                PhDs are highly appreciated!</p>  
                </div>
    </div>
</section>
