<section id="idp">
    <div class="container">
                <div class="col-lg-8 col-lg-offset-2 text-left">
  
<p class="tab"><a href="https://myidp.sciencecareers.org">Individual Development Plan</a> by Science Careers:
                    a self assessment tool which can also serve as a guide for career exploration. It can help the user better understand 
                    their personal strengths and weakness given their career plans. It separates between interests and strengths.
                    It is recommended to Postdocs but early career stage ECRs can also benefit from it.</p>
  
                </div>
    </div>
</section>
