<style type="text/css">
<!--
.tab { margin-left: 40px; }
-->
</style>


<section id="jobs">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Open calls for jobs with preference for candidates with a PhD</h2>
                <div class="col-lg-8 col-lg-offset-2 text-left">
                <p class="text-faded">
                    
<!-- Professional services (companies hiring PhDs / commercial workshops): -->  
                <hr class="primary">
                <h3 class="section-heading">Data science jobs</h3>
                                    
                <p><a href="https://www.deptagency.com/vacancy/data-scientist/">Data scientist</a> at 
                <a href="https://www.deptagency.com/">Dept</a></p>
                <p><a href=#mattias">Contact</a></p>
                </div>
            </div>
</section>

