<style type="text/css">
<!--
.tab { margin-left: 40px; }
-->
</style>


<section id="jobs">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Open calls for positions at which candidates with a PhD are preferred</h2>
                <p class="text-faded">
                    
<!-- Data science jobs: -->  
                <hr class="primary">
                <h3 class="section-heading">Data science jobs</h3>
                
                <p align="justify">[1] Multiple data science jobs at <a href="#icoinic">Icoinic</a></p>
                
                <p align="justify">[2] <a href="https://www.viqtordavis.com/viqtor-davis-careers/">Multiple data science jobs</a> 
                    at <a href="https://www.viqtordavis.com/">Viqtor Davis</a></p>
                
                <p align="justify">[3] <a href="https://www.deptagency.com/vacancy/data-scientist/">Data scientist</a> at 
                <a href="https://www.deptagency.com/">Dept</a>, <a href="#matthias">Contact</a></p>
                </div>
            </div>
</section>

