<style type="text/css">
<!--
.tab { margin-left: 40px; }
-->
</style>


<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">News</h2>
                <hr class="primary">
                <div class="col-lg-8 col-lg-offset-2 text-left">
                <p class="text-faded">
                   
<!-- General news: -->    
                <h3 class="section-heading">General news:</h3>
                <h4 class="section-heading"><b>February 12th, 2020</b>: Xenia Kobeleva from University Hospital Bonn
                    joins the Advisory Board of Stichting Solaris.</h4> 
                <p>Xenia is an expert in Open Science, and has a strong interest in brainhacks, digital art,
                and digital medicine. Welcome Xenia!</p>
                <p></p>
                    
                <h4 class="section-heading"><b>February 10th, 2020</b>: Natalia Bielczyk published an article on how to start on Twitter as a scientist.</h4> 
                <p>Natalia co-authored a paper entitled <a href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1007513">
                    "Ten simple rules for getting started on Twitter as a scientist"</a>
                    in PLoS Computational Biology. Congrats Natalia!</p>
                <p></p>
                    
                    
                 <h4 class="section-heading"><b>December 25th, 2019</b>: Carsten Bundt from Ghent University 
                    joins the Advisory Board of Stichting Solaris.</h4> 
                <p>Carsten is an expert in Open Science, and has a strong interest in productivity and self-management.
                    Welcome Carsten!</p>
                <p></p>
                    
                 <h4 class="section-heading"><b>December 23rd, 2019</b>: Natalia Bielczyk has published her book entitled 
                    'What is out there for me? The landscape of post-PhD career tracks.'</h4> 
                    <p>The book is now available on Amazon, in an <a href="https://www.amazon.com/dp/B082YCHJHP">
                        ebook</a>, and in <a href="https://www.amazon.com/dp/1675579660/">paperback</a>.</p>
                    <p></p>

                    
                <h4 class="section-heading"><b>December 10th, 2019</b>: We are launching open applications
                    to the Advisory Board of Stichting Solaris Onderzoek en Ontwikkeling.</h4> 
                    <p>If you are interested in participating, pleas drop us an email! We will send you 
                        the Terms of Reference and schedule an online meeting.</p>
                    <p></p>
                <p></p>
                      
                <h4 class="section-heading"><b>November 26th, 2019</b>: Natalia Bielczyk
                    is preparing her first book entitled
                    "What is out there for me? The landscape of post-PhD career tracks."</h4> 
                    <p>The purpose of the book, is to give you an overview of the available post-PhD career tracks, 
                        and to help you in taking personal decision on which direction to go next. 
                        The book will also provide information on which doors to knock at, in order to have 
                        a smooth transition to industry, and to embark on the right track towards your new dream job. 
                        The book will be priced at a low rate so that hopefully, young academics working all 
                        around the world - and not only in Northern America and Europe - can afford it.</p>
                    <p>If you are interested in this content, please subscribe to the 
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdr024n2s3cKJjakjjckLxcZ3KdPQfM-zeW8huiNa_rc2FsQg/viewform?usp=sf_link">
                        whitelist</a>. You will be notified when the book is out and you will receive the first chapter 
                        for free.</p>
                <p></p>
                    
                <h4 class="section-heading"><b>November 24th, 2019</b>: Natalia Bielczyk
                    has published a new preprint together with Elisenda Bonet Carne, entitled
                    "Safety or freedom? On the post-PhD career tracks."</h4> 
                    <p>The preprint is available at Open Science Framework, DOI: 10.17605/OSF.IO/5HM8P</p>
                <p></p>
                    
                <h4 class="section-heading"><b>November 4th, 2019</b>: Daniele Marinazzo from Ghent University 
                    and Chris Hartgerink, the CEO of Libscie.org, join the Advisory Board of Stichting Solaris.</h4> 
                <p>Daniele and Chris are two world-class experts in the development and popularizatio of
                    Open Science practices. Welcome Daniele and Chris!</p>
                <p></p>
 
                <h4 class="section-heading"><b>October 14th, 2019</b>: Stichting Solaris in the Google Ads grant programme!</h4>
                    <p>We received a grant from Google For Non-profits. The grant is worth 10,000 USD and will be 
                    spent on increasing our exposure online.</p>
                <p></p>
                    
                <h4 class="section-heading"><b>October 13th, 2019</b>: Stichting Solaris partners with the 
                    <a href="https://bnlf-crs.org/home">BeNeLux & France 
                    Local Chapter of the Controlled Release Society</a></p>
                <p></p>
                    
                <h4 class="section-heading"><b>August 16th, 2019</b>: Natalia Bielczyk will attend Mozilla Festival, 
                    London, October 25th-28th 2019.</h4>
                    <p>Mozilla Festival is an annual event meant to bring together the worldwide Mozilla 
                    Community, and communicate recent developments in this community to the world. 
                    Natalia was just offered a stipend from Mozilla Foundation to join Mozilla Festival this year! 
                    She will use this opportunity to find out more about how the operations of the one and only 
                    Mozilla Foundation, and hopefully, to tighten our bonds with this great organization!</p>
               <p></p>     
                    
                <h4 class="section-heading"><b>August 10th, 2019</b>: Stichting Solaris receives the 
                    ANBI status.</h4>
                    <p>ANBI is the official status of the organization for public good in the Netherlands.
                        Congratulations to everyone involved and thank you for your hard work!</p>
               <p></p>     
                    
               <h4 class="section-heading"><b>July 19th, 2019</b>: Natalia Bielczyk and Stephan Heunis 
                    received a prestigious 
                    <a href="https://medium.com/read-write-participate/announcing-9-awards-for-open-science-eaf8f5b36e85">
                        Science Grant</a> from Mozilla Foundation.</h4> 
                   <p>The grant is dedicated to organizing an intense 5-day event in Lorentz Centre, Leiden, 
                    October 28th - November 1st 2019. 
                    The bootcamp will be a cycle of workshops & open discussions on inclusivity, 
                    self-care, self-management, mentoring, open science & other topics. 
                    The Mozilla Foundation is partnering and will be present to listen about problems of today science 
                    and brainstorm solutions with us. 
                    Stichting Solaris is the receiving organization and we will manage the funds for the bootcamp.</p>
                <p></p>
                    
                <h4 class="section-heading"><b>July 1st, 2019</b>: Ali Khatibi from University of Birmingham 
                    joins the Advisory Board of Stichting Solaris.</h4> 
                <p>Ali is a senior researcher is the field of pain and neuroplasticity. 
                    He is also actively involved in a range of initiatives 
                    increasing awareness about bullying at work and in academic environments.
                    Welcome Ali!</p>
                <p></p>
                         
                <h4 class="section-heading"><b>June 20th, 2019</b>: Adeel Razi from Monash University, Melbourne 
                    joins the Advisory Board of Stichting Solaris.</h4> 
                <p>Adeel originally came to academia from industry, where he worked in engineering for many years. 
                    Now he is an acknowledged researcher in connectomics, a branch of neuroscience. 
                    He is very conscious of similarities and differences 
                    between academia and industry. Welcome Adeel!</p>
                <p></p>
                    
                <h4 class="section-heading"><b>June 19th, 2019</b>: Mozhan Soltani from Leiden University 
                    joins the Advisory Board of Stichting Solaris.</h4> 
                <p>Mozhan is an expert in promoting Equality and Diversity in academia. Welcome Mozhan!</p>
                <p></p>
                    
                <h4 class="section-heading"><b>May 28th, 2019</b>: Daniel Borek from Ghent University 
                    joins the Advisory Board of Stichting Solaris.</h4> 
                <p>Daniel is an expert in Open Science practices 
                    and in disseminating science through social media. Welcome Daniel!</p>
                <p></p>
                      
                <h4 class="section-heading"><b>April 15th, 2019</b>: Natalia Bielczyk was appointed as an 
                    <a href=" https://elifesciences.org/inside-elife/a946c355/elife-community-ambassadors-243-volunteers-join-the-programme-in-2019">
                    eLife Associate</a> 2019-2020.</h4> 
                <p>Natalia will help the community of eLife Ambassadors by igniting the discussion at the eLife Ambassadors 
                    Discourse forum, and giving a workhop on self development to the eLife Ambassadors.</p>
                <p></p>
                    
                    
<!-- Incoming events: -->  
                <hr class="primary">
                <h3 class="section-heading">Incoming events:</h3>
                 
<!-- Past events: -->                    
                <hr class="primary">
                <h3 class="section-heading">Past events:</h3>
                
               <p><h4 class="section-heading">[8] Natalia Bielczyk gave a talk at the 
                    <a href="https://openmrbenelux.github.io/">
                    Open MR Benelux event</a>, Nijmegen, January 21st 2020.</h4></p>
                
                <p><h4 class="section-heading">[7] Stichting Solaris will took part in the organization of the 
                    <a href="https://avengers-for-better-science.github.io">
                    Avengers for Better Science</a> event, Leiden, October 28th - November 1st 2019.</h4></p>
                    
                <p><h4 class="section-heading">[6] Talk "What next? The landscape of post-academic career tracks" at the 
                    <a href="http://brainhackzurich.ch/">Brainhack Zurich</a>, October 3rd - 4th 2019.</h4></p>
            
                <h4 class="section-heading">[5] Talk <a href="#event4">"The job market landscape for PhDs"</a> at workshop 
                    "Looking for Jobs Outside of Academia"
                    at the <a href="https://www.humanbrainmapping.org/i4a/pages/index.cfm?pageid=3882&pageid=3900">
                        Organization for Human Brain Mapping Annual Meeting</a>, Rome June 9th-13th 2019</h4>
                    
                <p></p>
                <p></p>   
                <h4 class="section-heading">[4] A keynote lecture <a href="#event3">"Self-management for early career researchers"</a> 
                    at <a href="http://www.medgencentre.com">
                        Medical Genetics Center (MGC) workshop</a>, Maastricht June 4th-7th 2019</h4>
                    
                <h4 class="section-heading">[3] Workshop <a href="#event2">"Self-management for early career researchers"</a> 
                    at <a href="https://ict-research.nl/ict-open/">ICT.Open</a>, Hilversum March 19th-20th 2019</h4>  
                    
                <h4 class="section-heading">[2] Talk <a href="#event1">"Open mentoring"</a> at 
                    <a href="https://brainhackwarsaw.github.io/">Brainhack Warsaw</a>, Warsaw, March 1st-3rd 2019</h4>  
                    
                <h4 class="section-heading">[1] Talk <a href="#event0">"Sharing is caring - how mentoring and open science 
                    come together to equalize chances for career development in academia"</a> at 
                    <a href="https://openmrbenelux.github.io/">OpenMR event</a>, Leiden, January 16th 2019</h4>  
                </div>
            </div>
</section>

