<style type="text/css">
<!--
.tab { margin-left: 40px; }
-->
</style>


<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">News</h2>
                <hr class="primary">
                <div class="col-lg-8 col-lg-offset-2 text-left">
                <p class="text-faded">
                    
                    
                <h3 class="section-heading">General news:</h3>
                  
                <h4 class="section-heading"><b>May 28th, 2019</b>: Daniel Borek from Ghent University 
                    joins the Advisory Board of Stichting Solaris.</h4> 
                <p>Daniel is an expert in Open Science practices 
                    and in disseminating science through social media. Welcome Daniel!</p>
                <p></p>
                <p></p>
                    
                    
                <h4 class="section-heading"><b>April 15th, 2019</b>: Natalia Bielczyk was appointed as an 
                    <a href=" https://elifesciences.org/inside-elife/a946c355/elife-community-ambassadors-243-volunteers-join-the-programme-in-2019">
                    eLife Associate</a> 2019-2020</h4> 
                <p>Natalia will help the community of eLife Ambassadors by igniting the discussion at the eLife Ambassadors 
                    Discourse forum, and giving a workhop on self development to the eLife Ambassadors.</p>
                <p></p>
                <p></p>
                    
                    

                <hr class="primary">
                <h3 class="section-heading">Incoming events:</h3>

                <h4 class="section-heading">[1] Workshop <a href="#event4">"Looking for Jobs Outside of Academia"</a> 
                    at the <a href="https://www.humanbrainmapping.org/i4a/pages/index.cfm?pageid=3882&pageid=3900">
                        Organization for Human Brain Mapping Annual Meeting</a>, Rome June 9th-13th 2019</h4>
                <p>Agenda:</p> 
                <p>Thursday 13th June 2019, 12pm-1pm</p>
                <p>Student and Postdoc SIG Space (Studio Room 3), Auditorium Parco Della Musica, Rome, Italy</p>
                <p>Event description:</p>
                <p>Even though the majority of PhD graduates eventually leaves academia, there is little amount of services dedicated 
                  to assisting early career researchers in defining their core competencies, searching for employers, and getting 
                  their dream jobs in industry. In this workshop, we will discuss how to best position yourself on the market on the 
                  basis of all your past experience, including both hard and soft skills. Furthermore, we will discuss the demand for 
                  PhDs in different branches of industry. We will also discuss the basics and avoiding mistakes - in job applications, 
                  cover letters, phone and in-person interviews.</p> 
                   
                <h4 class="section-heading">[2] Workshop "Self-management for early career researchers" at
                    <a href="http://www.medgencentre.com">
                        Medical Genetics Center (MGC) workshop</a>, Maastricht June 4th-7th 2019</h4>
                <p>Agenda:</p> 
                <p>Friday 7th June 2019, 9:30am-11:30am</p>
                <p>Maastricht University, Maastricht, the Netherlands</p>
                <p>Event description:</p>
                <p>There is a growing disparity between the number of new PhD graduates and the available faculty positions.
                Effectively, most of the PhD graduates needs to find jobs outside academia. Yet, there is little amount of
                services dedicated to assisting early career researchers in discovering their core competencies, in searching
                for employers and landing their dream jobs in industry. Ideally, one should anticipate the potential future
                market sectors after completing the PhD, and focus on developing transferrable skills during the PhD on that
                basis. This however, remains a rare practice in the graduate schools.
                Therefore, in this workshop, we will assume that you have no prior experience with job market in industry.
                We will discuss the following:</p>
                <p class="tab"> (a) The demand for PhDs in different branches of industry</p>
                <p class="tab"> (b) Paycheck or entrepreneurship? is a traineeship at a company a good start after a PhD?</p>
                <p class="tab"> (c) Defining your key competences, including both hard- and soft skills</p>
                <p class="tab"> (d) Searching for employers who are likely to search for these competences</p>
                <p class="tab"> (e) Searching for employers who share your personal values</p>
                <p class="tab"> (f) The role of networking in searching for jobs</p>
                <p class="tab"> (g) Restructuring your CV and writing a competitive motivational letter</p>
                <p class="tab"> (h) Preparing for job interviews</p>
                <p>The workshop will be interactive: we will debunk certain myths related to the job market with use of polls and
                quizzes. Sharing personal experience by participants will be highly encouraged. The goal of the workshop is
                to give the participants the information and confidence so they can further search for relevant information on
                their own, and take first steps towards finding their dream job in industry.</p>     
                <p></p>
                <p></p>   
                    
                    
                    
                    
                    
                    
                <hr class="primary">
                <h3 class="section-heading">Past events:</h3>
                    
                <h4 class="section-heading">[1] Self-management for early career researchers workshop at 
                    <a href="https://ict-research.nl/ict-open/">ICT.Open</a>, Hilversum March 19th-20th 2019</h4>  
                <p>Agenda: Tuesday 19th March, 2019, 16:20-17:40</p>
                <p>Event description:</p>
                <p>Early career researchers in different disciplines face similar challenges, related to fierce competition 
                    and constantly changing landscape of their research fields. Very often, factors independent from the 
                    early career researcher (such as, in example, constraints related to low quality datasets you need to 
                    work with, or a non-cooperative supervisory team) can cause leverage in pressure and stress levels, 
                    and give you an impression that your career development is blocked.</p>
                    <p>However, regardless of the circumstances, there is a number of every day self-management actions 
                        you can take in order to increase your overall work satisfaction, and positively influence career 
                        chances in the long run. In this workshop, we will discuss the following aspects:</p>
                    <p class="tab">(a) Goal setting and making one’s own opportunities</p>
                    <p class="tab">(b) Managing your time optimally</p>
                    <p class="tab">(c) Tips on taking care of yourself and creating a positive spin around yourself
                    <p class="tab">(d) Recognising and addressing bottlenecks in your projects
                    <p class="tab">(e) Building a craft
                    <p class="tab">(f) Networking and building long-lasting bonds
                    <p class="tab">(g) Finding the right mentors and mentees
                    <p class="tab">(h) Staying vigilant to opportunities outside academia and building an expertise competitive on the open job market
                <p>The workshop will be interactive. We will first go through the material, and then discuss how to cherry 
                    pick the advice and tailor to your own needs. There are multiple ways to become a happy researcher. 
                    Therefore, the goal of the workshop is to help you discover your own, personal path towards happy 
                    research life, and give you tools to develop your own personal style of doing science that will give 
                    you the best personal experience.</p>
                <p></p>
                    
                <h4 class="section-heading">[2] "Open mentoring": A talk at 
                    <a href="https://brainhackwarsaw.github.io/">Brainhack Warsaw</a>, Warsaw, March 1st-3rd 2019</h4>  
                <p>Agenda: Saturday 2nd March, 2019, 15:00-15:20</p>
                <p>Event description:</p>
                <p>One of the strongest movements in academia nowadays, is the Open Science movement. Its main postulates 
                    are: sharing access to high quality datasets with the general public and setting new standards for 
                    research reproducibility, e.g. by sharing codes and pipelines through open-access services such as GitHub. 
                    What else can and should we share in academia? Mentoring is one example of an asset which can also be 
                    shared between researchers all around the world. Today, it is no longer the case that mentoring experience 
                    can only be received from the direct supervisor; one can and should search out for advice from multiple 
                    researchers at every career stage, independently from geographical location - especially when there is 
                    little opportunity to be mentored in the local research environment.</p>
                <p>Within the Organization for Human Brain Mapping Student and Postdoc Special Interest Group, 
                    we are interested in assisting early career researchers in accelerating their careers. One of our main 
                    initiatives is the International Online Mentoring Programme. Within the Programme, every member of the 
                    OHBM community worldwide can become either a mentor, a mentee or both. In this blitz talk, I will 
                    review the lessons we learned after over two years of running the programme, and recommendations we 
                    can give to young generation of researchers who are just entering their PhD.</p>
                <p>Agenda:</p> 
                <p>Saturday 2nd March 2019, 15:00-15:20</p>
                <p>Auditorium 5, Faculty of Physics at the University of Warsaw, Ludwika Pasteura 5, 02-093, Warsaw, Poland</p>
                <p></p>
                    
                <h4 class="section-heading">[3] A talk "Sharing is caring - how mentoring and open science come together 
                    to equalize chances for career development in academia" at 
                    <a href="https://openmrbenelux.github.io/">OpenMR event</a>, Leiden, January 16th 2019</h4>  
                <p>Agenda: Wednesday January 16th, 2019, 16:15-17:00</p>
                <p>Event description:</p>
                <p>In the spirit of Open Science, we tend to increase an amount of shared resources, such as codes and datasets, 
                    nowadays. However, what else can and should we share in academia? In this talk, we’ll discuss mentoring 
                    as one example of a human asset which also can and should be distributed. It is no longer the case that 
                    mentoring can only be received from your direct supervisor; there are multiple other options, and you 
                    can actively search out for mentoring advice from researchers at every career stage and independent 
                    from geographical location. Within the Organization for Human Brain Mapping Student and Postdoc Special 
                    Interest Group, we are interested in developing new tools assisting early career researchers in 
                    accelerating their careers. One of our main initiatives is the International Online Mentoring Programme, 
                    which, to date, attracted a few hundreds of OHBM members. After two finished cycles of the programme, 
                    we are proud to say we feature multiple success stories: mentees from all around the world getting 
                    inspired, finding new jobs and personal grants, and coming back to the Programme as mentors. 
                    Additionally, this talk aims to ignite discussion about mentorship as a competence which should be 
                    featured as part of a standard research CV and acknowledged on equal terms with other research-related 
                    competences i.e. publication record, teaching experience or received grants and awards.</p>  
                <p>Agenda:</p> 
                <p>Wednesday 16th January 2019, 17:00-17:45</p>
                <p>Collegezaal 3, Gebouw/Building 1, Leiden University Medical Center (LUMC), Leiden</p>
                
                </div>
            </div>
</section>

