<style type="text/css">
<!--
.tab { margin-left: 40px; }
-->
</style>
<section class="bg-primary" id="projects">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Jobs dedicated to PhDs</h2>
                <hr class="light">
              <div class="col-lg-8 col-lg-offset-2 text-left">
              <p>PhD graduates are self-motivated, driven people with high ability for critical thinking and solving complex problems. 
                  They are both capable of successfully completing 
                  individual, highly specialistic projects as well as of working in multicultural, often geographically spread teams. 
                  PhDs are naturally curious, keen on constant learning and empathic. </p>

                  <p>PhDs might be a game changer your company; they might transform this company into a leader of 
                  innovation in your market sector.
                  If you are looking for such employees, 
                  please <a href="#contact"><font color="000000">let us know</font></a>. 
                  We will feature your job offer on our websites, and broadcast it to thousands of PhDs
                  within our network through social media and our newsletter. 
                  We will also contact a few public institutions we are in touch with and spread information through 
                  their Postdoc associations. 
                  We might also suggest some candidates to you straight away.</p>    
                  
                  
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Post-PhD trajectories</h2>
                <hr class="light">
              <div class="col-lg-8 col-lg-offset-2 text-left">
                  
              <p>Our first research project concerns investigating post-PhD trajectories. 
              A typical PhD programme gives a very broad range of skills, from hard analytic skills to soft skills 
              such as an ability to self-manage, or an ability to communicate with professionals with different backgrounds. 
              Yet, little is known about the post-PhD trajectories for PhDs transferring from academia towards 
              free job market. It is no secret that in certain areas of the free marketplace, having a PhD is not 
              attractive to employers as PhDs might miss practical experience or meet difficulties adapting to a 
              lifestyle in which daily deadlines are a norm. Hence, the question: is PhD an advantage? In a long time 
              perspective, do PhDs in industry find themselves happy about their lives in general, wealthy and satisfied 
              with their professional career? Do they ever ask themselves ‘what if’? In this project, we will aim to 
              find out and to create a comprehensive report summarising our findings.</p> 
              <p></p>
              
              <p>If you would like to find out more or actively join the project (either as a researcher or as an 
              interviewed subject in the study), please subscribe to our monthly newsletter and we will provide you 
              with all the details about the project soon:</p>
              
              <div class="col-lg-8 col-lg-offset-2 text-center">
              <a href="https://docs.google.com/forms/d/e/1FAIpQLScpqlLzRvparlE8pMLngbDYTsuvCRceFIo6CdVmq7CO6-5D1g/viewform?vc=0&c=0&w=1" 
                   class="btn btn-default btn-xl">Subscribe to the newsletter</a>
        </div>
    </div>
</section>
