<section id="publications">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Publications</h2>
                <hr class="primary">
                <p class="text-faded">
                
                <div class="col-lg-8 col-lg-offset-2 text-left">
<!--Mentoring and Career Development:--> 
                <h4 class="section-heading">Mentoring & Career Development:</h4>
                    
                    <p><b>Bielczyk, N. Z.</b> & Bonet-Carne, E. (2019). Safety or freedom? On the post-PhD career tracks. 
                    Open Science Framework, DOI: 10.17605/OSF.IO/5HM8P</p>
                <p></p>
                
                    <p><b>Bielczyk, N. Z.</b>, Ando*, A., Badhwar*, A., Caldinelli*, C., Gao*, M., Haugg*, A., 
                        Hernandez*, L. M., Ito*, K., Kessler*, D.,  Lurie*, D., Makary*, M. M., Nikolaidis*, A., 
                        Veldsman*, M., Allen, C., Bankston, A., Bottenhorn, K. L., Braukmann, R., Calhoun, V., 
                        Cheplygina, V., Costa Boffino, C., Ercan, E., Finc, K., Foo, H., Khatibi, A., La, C., 
                        Mehler, D. M. A., 
                        Narayanan, S., Poldrack, R. A., Raamana, P. R., Salo, T., Goddard-Sebillotte, C., 
                        Uddin, L. Q., Valeriani, D., Valk, S. L., Walton, C. C., Ward, P. G. D., Yanes, J. A., 
                        Zhou, X., OHBM Student and Postdoc Special Interest Group. 
                        Effective self-management for early career researchers in the natural and life sciences. 
                        Open Science Framework, DOI:10.17605/OSF.IO/W6EMK</p>
                <p></p>
                
                <p><b>Bielczyk*, N. Z.</b>, Veldsman*, M., Ando, A., Caldinelli, C., Makary, M. M., Nikolaidis, A., 
                    Scelsi, M. A., Stefan, M., OHBM Student and Postdoc Special Interest Group, Badhwar, A. (2018). 
                    Establishing online mentorship for early career researchers: Lessons from the Organization 
                    for Human Brain Mapping International Mentoring Programme. European Journal of Neuroscience, 
                    IF(2018): 2.941, DOI: 10.1111/ejn.14320</p>
                <p></p>
                    
                <p>Tennant, J., <b>Bielczyk, N.</b>, Cheplygina, V., Greshake Tzovaras, B., Hartgerink, C., Havemann, J., Masuzzo, P., Steiner, T. (2019). 
                    Ten simple rules for researchers collaborating on Massively Open Online Papers (MOOPs). 
                    Open Science Framework, URL: https://osf.io/preprints/metaarxiv/et8ak 
                <p></p>
                    
<!--Other:-->                    
                <hr class="primary">    
                <h4 class="section-heading">Other:</h4>
                <p>Lurie*, D. J., Kessler*, D., Bassett, D. S., Betzel, R. F., Breakspear, M., Keilholz, S., 
                    Kucyi, A., Liégeois, R., Lindquist, M. A., McIntosh, A. R., Poldrack, R. A., Shine, J. M., 
                    Thompson, W. H., <b>Bielczyk, N. Z.</b>, Douw, L., Kraft, D., Miller, R. L., Muthuraman, M., 
                    Pasquini, L., Razi, A., Vidaurre, D., Xie, H., Calhoun, V. D. (2018). On the nature of 
                    resting fMRI and time-varying functional connectivity. Network Neuroscience.</p>
                <p></p>
                    
                <p><b>Bielczyk*, N.</b>, Piskała*, K., Płomecka*, M, Radziński, P., Todorova, L., Foryś, U. (2019). 
                    A time-delay model of decision making in cortical networks. PLoS ONE 14(2): e0211885, 
                    DOI: 10.1371/journal.pone.0211885</p> 
                <p></p>
                    
                <p><b>Bielczyk, N.</b> (2018). Symptom networks as a clinically relevant solution to the complexity of 
                    the neurobiological causes of behaviour. A commentary for Borsboom et al. Brain disorders? 
                    Not really: Why network structures block reductionism in psychopathology research. 
                    DOI: 10.13140/RG.2.2.18375.39848</p>

                   
            </div>
            </div>
</section>
