<section class="bg-primary" id="publications">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Publications</h2>
                <hr class="light">
                <p class="text-faded">
                <p>Peer reviewed literature:</p>
                
                    <div class="col-lg-8 col-lg-offset-2 text-left">   
                    <p>1. facilitate mentor-mentee relations in academia and industry by the following actions:</p>
                    <p class="tab">(a) raising awareness about the importance of good mentoring in academia and industry, 
                    and about the fact that mentoring skills can be trained</p>
                    <p class="tab">(b) disseminating information and advice on mentorship through academic press, 
                    and through publicly available channels (blogging / social media / online platforms)</p>
                    <p class="tab">(c) organizing workshops for students and workers, aiming at teaching mentoring skills, 
                    both from mentor- and mentee- perspective</p>
                    <p class="tab">(d) designing and testing new mentoring strategies</p>
                    <p class="tab">(e) offering free consultancy on mentoring to both mentors and mentees, 
                    as well as offering free mediation to mentors and mentees, 
                    via online communication tools (e.g. Skype) and/or in person. Consultancy online and consultancy 
                    at the foundation’s headquarters will not be charged. If consultancy requires traveling, 
                    the other party will be obliged to cover travel and catering costs.</p>
                    </div>
                    
             
             
                
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>Press:</p>
                </div>
             
                    <div class="col-lg-8 col-lg-offset-2 text-left">
                    <p>1. facilitate mentor-mentee relations in academia and industry by the following actions:</p>
                    <p class="tab">(a) raising awareness about the importance of good mentoring in academia and industry, 
                    and about the fact that mentoring skills can be trained</p>
                    </div>
                
            </div>
            </div>
        </div>
</section>
