<style type="text/css">
<!--
.tab { margin-left: 40px; }
-->
</style>


<section id="resources">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Resources</h2>
                <div class="col-lg-8 col-lg-offset-2 text-left">
                <p class="text-faded">
                    
<!-- Professional services (companies hiring PhDs / commercial workshops): -->  
                <hr class="primary">
                <h3 class="section-heading">Where to look for jobs after your PhD in the Netherlands?</h3>
                                    
                <p> [1] Detachering agencies hiring professionals and lending them to companies in industry:</p>
                <p class="tab">(a) *<a href="#brightsociety">Bright Society</a> (high tech)</p>    
                <p class="tab">(b) *<a href="#scienceatwork">Science at Work</a> (pharma)</p> 
                <p class="tab">(c) <a href="https://www.trinamics.nl/">Trinamics</a> </p>
                <p class="tab">(d) <a href="https://www.brunel.nl/">Brunel</a> </p>
                <p class="tab">(e) <a href="https://www.yacht.nl/">Yacht</a> </p>
                <p class="tab">(f) <a href="https://tmc-employeneurship.com/nl/werken-met-tmc">TMC</a> </p>
                <p class="tab">(g) <a href="https://www.ormit.nl/nl/">Ormit</a> </p>
                <p>(*) specialized in hiring PhDs</p>
                    
                <p> [2] <a href="https://www.technischweekblad.nl/upload/documents/tinymce/COMSOL_ad_NL_TWTopPosters.pdf">
                    30 companies with the largest R&D departments in the Netherlands</a></p>
                    
                <p> [3] Online databases listing open industry jobs in the Netherlands and other Benelux countries:
                    <p class="tab">(a) <a href="https://www.brunel.nl/">brunel.nl</a></p>  
                    <p class="tab">(b) <a href="https://www.yer.nl/">yer.nl</a></p> 
                    <p class="tab">(c) <a href="https://www.yacht.nl/">yacht.nl</a></p>  
                    <p class="tab">(d) <a href="https://www.intermediair.nl/">intermediair.nl</a></p>
                    <p class="tab">(e) *<a href="https://www.monsterboard.nl/">monsterboard.nl</a></p>
               <p>(*) you can post your CV here to be found by recruiters in IT (works better than LinkedIn)</p>
                    
                <h3 class="section-heading">Professional services for training soft skills for PhDs in the Netherlands</h3>    
                    
                <p> [1] <a href="#dorinabaltag">Dorina Baltag</a>, PhD: workshops for female researchers shifting to industry</p> 
                
                <p> [2] <a href="#veronikacheplygina">Veronika Cheplygina</a>, PhD: workshops in open science and community building</p>

                <p> [3] <a href="#feliennehermans">Felienne Hermans</a>, PhD: workshops in leadership skills and social media management</p>
     
<!-- International organizations): -->  
                <hr class="primary">  
                <h3 class="section-heading">International professional organizations which you may join as an 
                    Early Career Researcher:</h3>
                <p>[1] <a href="#elifeAmbassadors">eLife Ambassadors community</a> (operating online)</p>
                
                <p>[2] <a href="#siu">Science Innovation Union</a> (operating mostly online)</p>
                    
                <p>[3] <a href="https://www.sciencemeetsbusiness.nl">Science Meets Business</a> (Leiden, the Netherlands)</p>

                    
<!-- Free online resources): -->     
                <hr class="primary">  
                <h3 class="section-heading">Free online resources:</h3>
                <p>[1] <a href="https://ecrcentral.org/">ECR Central</a> platform managed by the eLife editorial team: 
                    a free website dedicated to Early Career Reseachers. It contains:
                <p class="tab">(a) Community forum</p>
                <p class="tab">(b) Repository of open travel grant calls</p>  
                <p class="tab">(c) Database of useful articles</p> 
                <p></p> 
                <p></p>
                    
                <p>[2] Career columns at academic journals:</p>
                <p class="tab">(a) <a href="https://www.nature.com/nature/articles?type=career-column">Nature Career Column</a></p> 
                <p class="tab">(b) <a href="https://www.sciencemag.org/tags/letters-young-scientists">Science Letters to 
                    Young Scientists</a></p> 
                <p></p> 
                <p></p>
                <p>[3] Tools for self-assessment/goal setting:</p>
                <p class="tab">(a) <a href="#idp">Individual Development Plan</a></p>
                <p class="tab">(b) <a href="#gsf">Gallup StrengthsFinder</a></p>
                <p class="tab">(c) <a href="#tsa">Transferable Skills assessment</a></p>
  
                <p>[4] <a href="https://cheekyscientist.com/">Cheeky Scientist platform</a>, dedicated to helping PhDs 
                    in transferring to industry. The platform offers a number of free resources, including a free guidebook.</p>
                <p></p>
                <p></p>
                    
                <p>[5] The <a href="#goodlifeblog">Good Life</a> blog: a blog dedicated to self-development in 
                    academia
                <p></p>
                <p></p>
                <p></p>
                <p></p>   
                <p></p> 
                <p>[6] A blog on personal finances, investing & science by <a href="www.nataliabielczyk.com">Natalia Bielczyk</a></p>
            </div>
            </div>
</section>

