<section id="resources">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Resources</h2>
                <hr class="primary">
                <div class="col-lg-8 col-lg-offset-2 text-left">
                <p class="text-faded">
                <h4 class="section-heading">Professional services dedicated to Early Career Researchers in the Netherlands:</h4>
                
                
                <p>[1] Workshops dedicated to female PhD researchers shifting into industry by Dorina Baltag, PhD (based in Maastricht):</p>
                    -Research, analytical & problem-solving thinking
                    -Leadership & team-work capabilities
                    -Managerial (coordination, organisation, administration and implementation of projects and events) skills
                    -Mentorship & coaching competencies
                    -Presentation delivery

                <p></p>
                
                <p>Bielczyk*, N. Z., Veldsman*, M., Ando, A., Caldinelli, C., Makary, M. M., Nikolaidis, A., 
                    Scelsi, M. A., Stefan, M., OHBM Student and Postdoc Special Interest Group, Badhwar, A. (2018). 
                    Establishing online mentorship for early career researchers: Lessons from the Organization 
                    for Human Brain Mapping International Mentoring Programme. European Journal of Neuroscience, 
                    IF(2018): 2.941, DOI: 10.1111/ejn.14320</p>
                <p></p>
                
                <h4 class="section-heading">Free online resources:</h4>
                <p>Lurie*, D. J., Kessler*, D., Bassett, D. S., Betzel, R. F., Breakspear, M., Keilholz, S., 
                    Kucyi, A., Liégeois, R., Lindquist, M. A., McIntosh, A. R., Poldrack, R. A., Shine, J. M., 
                    Thompson, W. H., Bielczyk, N. Z., Douw, L., Kraft, D., Miller, R. L., Muthuraman, M., 
                    Pasquini, L., Razi, A., Vidaurre, D., Xie, H., Calhoun, V. D. (2018). On the nature of 
                    resting fMRI and time-varying functional connectivity. Under review in Network Neuroscience</p>
                <p></p>
                    
                <p>Bielczyk*, N., Piskała*, K., Płomecka*, M, Radziński, P., Todorova, L., Foryś, U. (2019). 
                    A time-delay model of decision making in cortical networks. PLoS ONE 14(2): e0211885, 
                    DOI: 10.1371/journal.pone.0211885</p> 
                <p></p>
                    
                <p>Bielczyk, N. (2018). Symptom networks as a clinically relevant solution to the complexity of 
                    the neurobiological causes of behaviour. A commentary for Borsboom et al. Brain disorders? 
                    Not really: Why network structures block reductionism in psychopathology research. 
                    DOI: 10.13140/RG.2.2.18375.39848</p>

                   
            </div>
            </div>
</section>

