<style type="text/css">
<!--
.tab { margin-left: 40px; }
-->
</style>


<section id="resources">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Resources</h2>
                <div class="col-lg-8 col-lg-offset-2 text-left">
                <p class="text-faded">
                    
<!-- Professional services (companies hiring PhDs / commercial workshops): -->  
                <hr class="primary">
                <h3 class="section-heading">Where to look for jobs after your PhD in the Netherlands?</h3>
                                    
                <p> [1] Detachering agencies hiring professionals and lending them to companies in industry:</p>
                <p class="tab">(a) *<a href="#brightsociety">Bright Society</a> (high tech)</p>    
                <p class="tab">(b) *<a href="#scienceatwork">Science at Work</a> (pharma)</p>
                <p class="tab">(c) <a href="#solvism">Solvism</a> (high tech)</p>
                <p class="tab">(d) <a href="https://www.trinamics.nl/">Trinamics</a> </p>
                <p class="tab">(e) <a href="https://www.brunel.nl/">Brunel</a> </p>
                <p class="tab">(f) <a href="https://www.yacht.nl/">Yacht</a> </p>
                <p class="tab">(g) <a href="https://tmc-employeneurship.com/nl/werken-met-tmc">TMC</a> </p>
                <p class="tab">(h) <a href="https://www.ormit.nl/nl/">Ormit</a> </p>
                <p>(*) specialized in hiring PhDs</p>
                    
                <p> [2] <a href="https://www.technolution.eu/uploads/2019/06/rd-top-30-2019.pdf">
                    30 companies with the largest R&D departments in the Netherlands</a></p>
                
                <p> [3] <a href="https://ind.nl/en/Documents/Public_Register_Regular_Labour_and_Highly_Skilled_Migrants.pdf">
                    A full list of Dutch companies which are allowed to welcome employees from outside EU</a></p>
                    
                <p> [4] Online databases listing open industry jobs in the Netherlands and other Benelux countries:
                    <p class="tab">(a) <a href="https://www.kellyservices.nl/">kellyservices.nl</a> (mostly high profile jobs, good for PhDs)</p> 
                    <p class="tab">(b) <a href="https://www.brunel.nl/">brunel.nl</a> (mostly medium profile jobs for MSc graduates)</p>  
                    <p class="tab">(c) <a href="https://www.yer.nl/">yer.nl</a> (mostly medium profile jobs for MSc graduates)</p> 
                    <p class="tab">(d) <a href="https://www.yacht.nl/">yacht.nl</a> (mostly medium profile jobs for MSc graduates)</p>  
                    <p class="tab">(e) <a href="https://www.intermediair.nl/">intermediair.nl</a> (mostly medium profile jobs for MSc graduates)</p>
                    <p class="tab">(f) *<a href="https://www.monsterboard.nl/">monsterboard.nl</a> (mostly medium profile jobs for MSc graduates)</p>
                    <p class="tab">(g) *<a href="https://www.honeypot.io/">honeypot.io</a> (high tech and data science jobs only)</p>
               <p>(*) you can post your CV here to be found by recruiters</p>
                
                <hr class="primary">    
                <h3 class="section-heading">Professional services offering career trainings for PhDs in the Netherlands</h3>    
                <p> [1] <a href="#alessandro">Alessandro Montalto</a>, PhD: online career and life coaching for PhDs</p> 
                   
                <p> [2] <a href="#dorinabaltag">Dorina Baltag</a>, PhD: workshops for female researchers shifting to industry</p> 
                
                <p> [3] <a href="#veronikacheplygina">Veronika Cheplygina</a>, PhD: workshops in open science and community building</p>

                <p> [4] <a href="#feliennehermans">Felienne Hermans</a>, PhD: workshops in leadership skills and social media management</p>
     
                <p> [5] <a href="https://talentdiggers.nl">Talent Diggers</a> by Jan Hooikammer: workshops in talent discovery</p>
                
                <p> [6] <a href="https://welcome-solutions.com/index.php/career-training-services/">Welcome Solutions</a> by Natalia Bielczyk: workshops for researchers thinking of a career switch</p>
                    
<!-- International organizations): -->  
                <hr class="primary">  
                <h3 class="section-heading">Dutch and international professional organizations which you may join as an 
                    Early Career Researcher:</h3>
                <p>[1] BeNeLux & France: <a href="https://bnlf-crs.org/home">BeNeLux & France Local Chapter</a> of the
                    Controlled Release Society (you can meet with the organization representatives at one of the incoming 
                    <a href="https://bnlf-crs.org/events">events</a>)</p>
                    
                <p>[2] The Netherlands: <a href="https://www.hetpnn.nl/">Promovendi Netwerk Nederland</a> (PNN)</p>
                
                <p>[3] The Netherlands: <a href="https://www.sciencemeetsbusiness.nl">Science Meets Business</a> 
                    (Leiden, the Netherlands)</p>

                <p>[4] International: <a href="#elifeAmbassadors">eLife Ambassadors community</a> (operating online)</p>
                
                <p>[5] International: <a href="#siu">Science Innovation Union</a> (operating mostly online)</p>
                    
                
<!-- Free mentoring programs): -->  
                <hr class="primary">  
                <h3 class="section-heading">Free online mentoring programs:</h3>
                <p>[1] Organization for Human Brain Mapping
                    <a href="https://www.ohbmtrainees.com/mentoring-programme">International Online Mentoring Programme</a></p>
                <p>[2] <a href="https://openpostac.org/">Open Post Academic Mentorship Program</a>
                    incubated through the Mozilla Open Leaders program</p>    
                    
<!-- Events): -->  
                <hr class="primary">  
                <h3 class="section-heading">National career development events dedicated to PhDs:</h3>
                <p>[1] <a href="https://phd-day.nl">The PhD Day</a> in Groningen, over 700 PhDs in all disciplines, mid-September each year</p>
                
                <p>[2] <a href="https://ict-research.nl/ict-open/">ICT.Open</a> in Hilversum, over 500 ECRs, mid-March each year</p>
                    
<!-- Free online resources): -->     
                <hr class="primary">  
                <h3 class="section-heading">Free online resources:</h3>
                <p>[1] <a href="https://ecrcentral.org/">ECR Central</a> platform managed by the eLife editorial team: 
                    a free website dedicated to Early Career Reseachers. It contains:
                <p class="tab">(a) Community forum</p>
                <p class="tab">(b) Repository of open travel grant calls</p>  
                <p class="tab">(c) Database of useful articles</p> 
                <p></p> 
                <p></p>
                    
                <p>[2] Career columns at academic journals:</p>
                <p class="tab">(a) <a href="https://www.nature.com/nature/articles?type=career-column">Nature Career Column</a></p> 
                <p class="tab">(b) <a href="https://www.sciencemag.org/tags/letters-young-scientists">Science Letters to 
                    Young Scientists</a></p> 
                <p></p> 
                <p></p>
                <p>[3] Tools for self-assessment/goal setting:</p>
                <p class="tab">(a) <a href="#idp">Individual Development Plan</a></p>
                <p class="tab">(b) <a href="#gsf">Gallup StrengthsFinder</a></p>
                <p class="tab">(c) <a href="#tsa">Transferable Skills assessment</a></p>
  
                <p>[4] <a href="https://cheekyscientist.com/">Cheeky Scientist platform</a>, dedicated to helping PhDs 
                    in transferring to industry. The platform offers a number of free resources, including a free guidebook.</p>
                <p></p>
                <p></p>
                    
                <p>[5] The <a href="#goodlifeblog">Good Life</a> blog: a blog dedicated to self-development in 
                    academia
                <p></p>
                <p></p>
                <p></p>
                <p></p>   
                <p></p> 
                <p>[6] A blog on personal finances, investing & science by <a href="www.nataliabielczyk.com">Natalia Bielczyk</a></p>

<!-- Materials for entrepreneurs): -->                        
                <hr class="primary">  
                <h3 class="section-heading">Materials / funding sources for PhDs who are willing to launch startups:</h3>
                <p>[1] Startup accelerators at the Dutch universities:</p>  
                <p class="tab">(a) Radboud University Nijmegen: <a href="https://www.mercatorlaunch.nl/">Mercator Launch</a></p>
                <p class="tab">(b) Radboud University Nijmegen Medical Centre: <a href="https://www.radboudumc.nl/en/research/valorization">
                    Valorisation Department</a></p>
                <p class="tab">(c) University of Amsterdam: <a href="https://ace-incubator.nl/">ACE Incubator</a></p>
                <p class="tab">(d) Leiden University: <a href="https://plnt.nl/en/">Leiden Centre for Innovation and Entrepreneurship</a></p>
                <p class="tab">(e) University of Groningen: <a href=
                    "https://campus.groningen.nl/en/campus-groningen/campus-in-transition/building-projects/start-up-city">
                    Start-up City</a></p>
                <p class="tab">(f) Maastricht University: <a href="https://www.mc4e.nl/">Maastricht Centre for Entrepreneurship</a></p>    
                <p class="tab">(g) Erasmus University Rotterdam: <a href="https://ece.nl/">Erasmus Centre for Entrepreneurship</a></p>
                <p class="tab">(h) Tilburg University: <a href="https://www.tilburguniversity.edu/students/career/entrepreneurship/being-entrepreneur">
                    Incubator for startups</a></p>
                <p class="tab">(i) Utrecht University: <a href="https://utrechtinc.nl/">UtrechtInc</a> (rated as the 10th best
                    academic startup incubator in the world!)</p>
                <p class="tab">(j) Delft University: <a href="https://www.yesdelft.com/">Yes!Delft</a> (top academic tech startup
                    incubatro in Europe!)</p>
                <p class="tab">(k) Eindhoven University of Technology: 
                    <a href="https://www.tue.nl/en/our-university/community/startupeindhoven/">Startup / Eindhoven</a></p>
                <p class="tab">(l) University of Twente: <a href="https://www.utwente.nl/en/business/support-for-start-ups/">
                    Startup Support</a></p>
                <p class="tab">(m) Wageningen University: <a href="http://www.starthubwageningen.nl/">StartHub Wageningen</a></p>  
                    
                <p>[2] Private startup accelerators:</p>  
                <p class="tab">(a) Nijmegen: <a href="">Startup Nijmegen</a></p>
                <p class="tab">(c) Amsterdam: <a href=""></a></p>
                <p class="tab">(d) Leiden: <a href="https://plnt.nl/en/">Leiden Centre for Innovation and Entrepreneurship</a></p>
                <p class="tab">(e) Groningen: <a href=""></a></p>
                <p class="tab">(f) Maastricht: <a href=""></a></p>    
                <p class="tab">(g) Rotterdam: <a href=""></a></p>
                <p class="tab">(h) Tilburg: <a href=""></a></p>
                <p class="tab">(i) Utrecht: <a href=""></a></p>
                <p class="tab">(j) Delft: <a href=""></a></p>
                <p class="tab">(k) Eindhoven: <a href=""></a></p>
                <p class="tab">(l) Twente: <a href=""></a></p>
                <p class="tab">(m) Wageningen: <a href=""></a></p>
                <p class="tab">(n) Heerlen: <a href=""></a></p>    
                
                <p>[3] Private agencies and platforms matching startups with private investors:</p>
                
                <p>[4] International startup accelerators:</p>
                    
                <p>[5] Information about the public, equity-free funding programs:</p>    
                <p class="tab">(a) Funding for entrepreneurship in collab with academic institutions from the Dutch Ministry 
                    of Education: 
                    <a href="https://www.nwo.nl/en/news-and-events/news/2019/11/implementation-of-financial-instruments-for-public-private-partnerships-laid-down-in-kic-2020-2023.html">
                    Nederlandse Organisatie voor Wetenschappelijk Onderzoek</a> (NWO) programs</p>
                <p class="tab">(b) Other public Dutch programs dedicated to SDG startups: <a href="Startupinresidency.com">
                    Startup in Residency</a></p>
                <p class="tab">(c) Funding from the European Union (Horizon 2020, Eureka Eurostars and other programs): 
                    <a href="https://english.rvo.nl/newsletter-nl-enterprise-wssl">
                    Rijksdienst voor Ondernemend Nederland</a> (RVO)</p>
                         
                    
                    
                    
                    
<!-- Books): -->     
                <hr class="primary">  
                <h3 class="section-heading">Books about switching careers to industry as a PhD:</h3>
                <p>[1] <a href="#whatisoutthere">"What is out there for me? The landscape of post-PhD
                    career tracks"</a> by Natalia Bielczyk</p>   
                    
                <p>[2] <a href="https://www.amazon.com/Professor-Essential-Guide-Turning-Ph-D/dp/0553419420">
                    "The Professor Is In: The Essential Guide To Turning 
                    Your PhD Into a Job"</a> by Karen Kelsky</p> 
                
            </div>
            </div>
</section>

