<section id="scienceatwork">
    <div class="container">
                <div class="col-lg-8 col-lg-offset-2 text-left">
                <p><img src="img/SAW_logo.jpg" alt="Science at Work" width="300" align = "left">
                    <a href="https://www.scienceatwork.nl/">Science at Work</a> is a talent incubator for PhDs in pharma,
                    based in Amsterdam. The agency has a long history, operating since 1977. Science@Work signs a contract
                    with their PhD affiliates and searches for a permanent or temporary jobs for them within life sciences, 
                    food industry, pharmaceuticals, medical devices and (petro) chemistry.</p>
                <p>The affiliates can be employed at various positions in the departments such as Quality control, 
                    Research & Development, Production, Quality Assurance, Product development, 
                    Process Validation & Optimization, Sales and Management.</p>
                <p>Interestingly, at Science@Work, the preliminary job interviews are conducted with use of webcam
                    so that the candidates do not need to commute for an initial job interview.</p>
                </div>
    </div>
</section>
