<section id="siu">
    <div class="container">
                <div class="col-lg-8 col-lg-offset-2 text-left">
  
                <p>[2] <a href="http://science-union.org/">Science Innovation Union</a> is an international network 
                    of academics with entrepreneurial minds. It aims to connect and engage academics and young professionals.
                    SIU publishes editorials inspiring academics to try entrepreneurship and organizes training events. 
                    SIU is supported by, among others, NatureJobs and Oxford University. You can apply to become a member
                    of the community through the SIU websites for the whole year. There are also free positions within 
                    the SIU team you might apply for. 
                    </p>
  
                </div>
    </div>
</section>
