<section id="solvism">
<div class="container">
  <p>Solvism run by a professional recruiter, Jonathan Garcia is a recruitment company which takes 
  a personal approach to a job candidate. If you decide to contact the company, you first meet your 
  personal recruiter, in order to discuss your personality and expectations towards the job. 
  Then, you go through a few-stage process of recruitment in which your personal recruiter is 
  looking for jobs and negotiate deals with you. Solvism specializes in hiring candidates in high tech industry, 
  and accepts PhDs with open arms.</p>              
  <p>Contact:</p> 
  <p>Jonathan Garcia</p> 
  <p>jonathan@solvism.nl</p>        
</div>
</section>
