<section id="tsa">
    <div class="container">
                <div class="col-lg-8 col-lg-offset-2 text-left">
  
<p class="tab">(c) <a href="https://www.unl.edu/careers/documents/miscellaneous/TransferableSkillsAssessment.xlsx ">
                    Transferable Skills assessment</a>: a free assessment tool for identifying competences that we obtain during the PhD 
                    programme and to get an overview of what we should improve on for the further career development.</p>
  
                </div>
    </div>
</section>
