<section id="veronikacheplygina">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 text-left">
  
    <p> Workshops by Veronika Cheplygina, PhD (PixelDot solutions, based in Rotterdam / Eindhoven):</p>
                    <p>Veronika is an Assistant Professor of pattern recognition at a university in the Netherlands. 
                        She is also the owner of PixelDot Solutions, a one person business bridging the gap between life 
                        and academia for early career researchers. Her portfolio includes a Spice Girls website she made 
                        in 1996, a blog about her life in highschool in 2003 (built from scratch in PHP) and 
                        <a href="VeronikaCH.com">VeronikaCH.com</a>, a blog about academic life, which she originally 
                        started in 2009 as a MSc student.</p>
                    <p>Veronika's workshop portfolio at the moment, includes:</p>
                    <p class="tab">(a) Developing and managing Open Science tools</p>
                    <p class="tab">(b) General career development</p>
                    <p class="tab">(c) Effective use of social media</p>
                    <p class="tab">(d) Community building</p>
                <p></p>

  
       </div>
    </div>
</section>
