<section id="whatisoutthere">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 text-left">
  
    <p> "What is out there for me? The landscape of post-PhD career tracks" by Natalia Bielczyk:</p>
    
    <p><img src="img/cover.jpg" alt='cover' width="200" align = "center"></p>
          <p class="tab">The purpose of the book, 
          is to give you an overview of the available post-PhD career tracks, and to help you in 
          taking personal decision on which direction to go next. The book will also provide information 
          on which doors to knock at, in order to have a smooth transition to industry, and to embark 
          on the right track towards your new dream job. The book will be priced at a low rate so that 
          hopefully, young academics working all around the world - and not only in Northern America and Europe - 
          can afford it.</p>

    <p>If you are interested in this content, please subscribe to the 
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdr024n2s3cKJjakjjckLxcZ3KdPQfM-zeW8huiNa_rc2FsQg/viewform?usp=sf_link">whitelist</a>. 
      You will be notified when the book is out and you will receive the first chapter for free.</p>

    </div>
    </div>
</section>

