<section id="whatisoutthere">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 text-left">
  
    <p> "What is out there for me? The landscape of post-PhD career tracks" by Natalia Bielczyk:</p>
    
    <p><center><img src="img/cover.jpg" alt='cover' width="350"></center></p>
          <p>What is out there? Do you believe in life outside academia?</p>

<p>For researchers who consider a career switch, the open job market often feels as remote and uncertain as dark wood, 
    or as outer space. To be happy at work, you need to find a job that is aligned with your values, gives you a feeling 
    of belonging, purpose, appreciation, and some level of both safety and excitement. 
    There are so many conditions that need to be met to develop a sense of job satisfaction! 
    How to make the transition, preferably at a minimal level of stress and as smoothly as possible?</p>

<p>The purpose of this book is to give you an overview of what you are capable of after completing a PhD 
    (and might not even think of!), and which directions you might consider to develop a happy, fulfilling professional life. 
    This book does not only explore the scope of professions in which PhDs usually excel but it also gives an overview of 
    the tribes that formed on the job market and provides the description of their tribal behaviors. 
    Do you fit the tribe of corporate rats? Or perhaps, the tribe of entrepreneurs? 
    The book contains open questions and self-discovery exercises which will help you in digging into your mind to find 
    the right tribe. You might be up to something really beautiful!</p>

    <p>The book is now available on Amazon, in an <a href="https://www.amazon.com/dp/B082YCHJHP">
    ebook</a>, and in <a href="https://www.amazon.com/dp/1675579660/">paperback</a>.</p>

    </div>
    </div>
</section>

