<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include call-to-action.html %}
  {% include news.html %}
  {% include projects.html %}
  {% include resources.html %}
  {% include publications.html %}
  {% include gdpr.html %}
  {% include team.html %}
  {% include contact.html %}
  {% include scripts.html %}
  {% include bright-society.html %}
  {% include scienceatwork.html %}
  {% include event0.html %}
  {% include event1.html %}
  {% include event2.html %}
  {% include event3.html %}
  {% include event4.html %}
  {% include dorinabaltag.html %}
  {% include veronikacheplygina.html %}
  {% include feliennehermans.html %}
  {% include elifeAmbassadors.html %}
  {% include siu.html %}
</body>

</html>
